<app-selector></app-selector>
<p style="font-size: 22px;">Дохід: </p>
<p style="font-size: 22px;">20 000$</p>
<div class="calendar">
    <table>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wen</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of calendar">
                <td *ngFor="let day of week.days" class="calendar--day" [class.disabled]="day.disabled"
                    [class.selected]="day.selected" (click)="select(day.value)">

                    <div class="enter">
                        <div class="date" [class.active]="day.active">
                            <p>
                                {{ day.value | dateFormat: 'DD' }}
                            </p>
                        </div>

                        <div class="day-info">
                            <p style="color: red">100$</p>
                            <p style="color: green">20 000$</p>
                            <p style="color: red">100$</p>
                            <p style="color: green">20 000$</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="small-menu">
        <a routerLink="#">
            <p>Витрати</p>
        </a>
        <a routerLink="/expend-calendar">
            <p>Календар витрат</p>
        </a>
        <a routerLink="#">
            <p>Аналітика</p>
        </a>
        <a routerLink="#">
            <p>Цілі</p>
        </a>
    </div>

</div>
