<section class="savings">
<pgz-savings-dashboards [activeCard]="selectedFilter" [userCards]="filters"></pgz-savings-dashboards>

  <div class="savings--types">
    <mat-chip-set>
      @for (filter of filters; track filter) {
        <mat-chip class="filters" [class.selected]="isSelected(filter)"
        (click)="toggleChip(filter)">{{filter}}</mat-chip>
      }
    </mat-chip-set>
  </div>

  @if(assets.length === 0) {
    <p style="text-align: center;">Empty list</p>
  }
  @for(asset of filteredAssets; track asset) {
    <pgz-asset-card [asset]="asset" (deleteAsset)="onDeleteAsset($event)" (editAsset)="onEditAsset($event)"></pgz-asset-card>
  }
  </section>
<!-- <button mat-flat-button class="add-btn" (click)="openSelectedFilter()">{{ selectedFilterMarket() }}</button> -->
