:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.savings {
  justify-content: flex-start;
    display: flex;
    flex-direction: column;
    // align-items: center;
    height: inherit;

    &--types {
      margin: 0 20px;
    }
}

.filters.selected {
  background-color: #5DB075; 
  color: #fff; 
}

