:host {
  display: block;
}

.add-spending {
  margin: 1.5rem;
}

.no-category {
  font-size: 1.3rem;
}

.icon-select {
  width: 2rem;
  margin-right: 15px;
}

.spending-btn {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid var(--bs-success);
  padding: 1.8rem;

  &--save {
    color: white;
    background-color: var(--bs-success) !important;
  }
}


.choise-btn {
  display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.line {
  border-bottom: 1px solid #E8E8E8;
  width: inherit;
}
