<mat-form-field appearance="outline" class="w-100">
    <mat-label>Category</mat-label>
    <div class="select-category">
        
    <img [src]="selectedCategory.icon" class="icon-select">
    <mat-select matNativeControl [(value)]="selectedCategory" (selectionChange)="test($event)" style="font-size: 1.5rem;">
      @for(category of categories; track category) {
        <img [src]="category.icon" style="width: 24px;">
        <mat-option [value]="category">
            {{ category.title }}
        </mat-option>
      }
    </mat-select>
    <img matSuffix src="assets/icons/arrow.svg">
</div>
</mat-form-field>
<div>
    <input type="text">
</div>

<div>
    <input type="number" inputmode="numeric">
</div>

<button mat-flat-button class="spending-btn">{{ 'Add spending and add next' }}</button>
<button mat-flat-button class="spending-btn spending-btn--save">{{ 'Add spending and Exit' }}</button>
