<section class="page">
    <div (click)="prevRoute()">
        <pgz-prev-route>
            
            @if(editSpending) {
                <p>Edit spending</p>
            } @else {
                <p>Add spending</p>
            }
        </pgz-prev-route>
    </div>
    <section class="add-spending">
        <div class="add-spending--input">
            <input class="add-spending--amount-input" type="number" inputmode="numeric" placeholder="0"[(ngModel)]="costOfProduct" pgzMoney>
            <p class="add-spending--currency">$</p>
        </div>

        <pgz-form-field [widthBorder]="85">
            <label style="margin-top: 32px;">Category</label>
            <div style="margin-top: 16px;">
                <pgz-category-selector [categories]="categories" [activeCategory]="selectedCategory" (selectedCategory)="selectCategory($event)"></pgz-category-selector>
            </div>
        </pgz-form-field>
        
        <pgz-form-field>
            <label style="margin-top: 32px;">Date:</label>
            <div class="d-flex" (click)="picker.open()">
                <input class="add-spending--input-date" [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker" style="margin-left: auto;">
                    <mat-icon matDatepickerToggleIcon svgIcon="{{ 'custom_calendar' }}"></mat-icon>
                    <!-- <pgz-icon></pgz-icon> -->
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </pgz-form-field>

        <pgz-form-input>
            <label style="margin-top: 24px;">Comment (optional)</label>
            <!-- <div> -->
                <textarea matInput placeholder="Enter comment..." [(ngModel)]="commentOfProduct"></textarea>
            <!-- </div> -->
        </pgz-form-input>

        <div class="choise-btn" (click)="save()">
            <button mat-flat-button
                    [class.pgz-btn--submit-enabled]="canSave"
                    [class.pgz-btn--submit-disabled]="!canSave"
                    type="submit" class="pgz-btn montserrat" 
                    (click)="save()">
            {{ 'Save' }}
            </button>
        </div>
    </section>
</section>
