:host {
  display: block;

  ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 0px;
  }
}
.select-category {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;

  ::ng-deep .mat-mdc-select-arrow {
    display: none;
  }
}

.icon-select {
  width: 2rem;
  margin-right: 15px;
}

.spending-btn {
  width: 90%;
  border: 1px solid #edb03b;
  
  &--save {
    background-color: #edb03b !important;
  }

}

