<main>
    <div class="calendar">
        <table>
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wen</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                @for(week of calendar; track week) {
                    <tr>
                        @for(day of week.days; track day) {
                            <td
                            class="calendar--day" 
                            [class.disabled]="day.disabled"
                            [class.selected]="day.selected" 
                            (click)="select(day.value)">

                            <div [class.enter]="day.selected">
                                <p>{{ day.value | dateFormat: 'DD' }}</p>
                            </div>

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
