<section class="spendings-category">
    <div class="spendings-category--categories">

        <pgz-donut class="spendings-category--donut"
                   [portfolio]="expends"
                   [color]="'#CBCACA'">
        </pgz-donut>

        @for(category of viewCategories; track category) {
            <a class="spendings-category--item"
               [style.transform]="'rotate(' + category.angle + 'deg) translate(220%) rotate(-' +  category.angle + 'deg)'"
               (click)="addSpending(category.category)">
               <pgz-icon class="spendings-category--icon" [name]="category.category.icon"></pgz-icon>
            </a>
        }
    </div>
</section>
