<section class="spendings-category">
    <div class="spendings-category--categories">

        <pgz-donut class="center"
                   [portfolio]="expends"
                   [color]="'#CBCACA'">
        </pgz-donut>

        @for(category of categories.slice(0,8); track category; let i = $index) {
            <a class="item"
               [ngClass]="'deg-' + (i + 1)"
               (click)="addSpending(category)">
              @if(i === 5 || i === 6) {
                  <pgz-icon class="central-img" [name]="category.icon"></pgz-icon>
              } @else {
                  <pgz-icon [name]="category.icon"></pgz-icon>
              }
            </a>
        }
    </div>
</section>
