:host {
  display: block;
}

.spending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: inherit;

}

.spendings-category {
  margin-bottom: 20px;

  &--categories {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 30% 60% 30%;
    width: 100%;
    align-items: center;
  }

  &--button {
    margin-top: 80px;
    width: 100%;
    background-color: #edb03b !important;
  }

  .center {
    grid-column: 2;
    grid-row: 2;
    display: block;
    width: 100%;
    transform: scale(1.1);
  }

  .deg-1 {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-content: end;
  }
  
  .deg-2 {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    justify-content: end;
  }
  
  .deg-3 {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-content: start;
  }
  
  .deg-4 {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-content: end;
  }
  
  .deg-5 {
    grid-column: 3;
    grid-row: 3;
    align-self: start;
    justify-content: start;
  }
  
  .deg-6 {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    justify-content: center;
  }
  
  .deg-7 {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-content: center;
  }
  
  .deg-8 {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
    justify-content: start;
  }

  img {
    width: 70%;
    height: auto;
  }

  .central-img {
    width: 24%;
  }

  .item {
    display: flex;
    width: 100%;
  }
}
