.primary {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    &--info {
        font-size: 22px;
    }

    &--money {
        font-size: 28px;
        color: var(--accept-color);
    }
}

.goals {
    height: 84vh;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
}

.goal {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color-100);
    border-radius: 10px;
    padding: 10px;

    &--icon {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 100px;
        border-radius: 30px;
    }

    &--info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    &--progress {
        font-size: 10px;
        margin-left: auto;
        margin-bottom: 0;
    }
}

.goal:not(:first-child) {
    margin-top: 10px;
}
