:host {
  display: block;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 18px;

  span {
      margin: 0 2rem;
      text-align: center;
      width: 200px;
  }

  i {
      cursor: pointer;
  }
}
