<main>
    <h3>Цілі заощаджень</h3>
    <section class="goal">
        <div style="display: flex;">
            <img src="https://img.freepik.com/free-vector/hand-drawn-motorcycle-isolated-white-background-monochrome-style_1284-38728.jpg?w=1060&t=st=1698145798~exp=1698146398~hmac=7ddd70e1a4052730b25a2ac1a2c23b6d6f46a81ec4adb5f29db8685c99030c29"
                class="goal--icon">
            <div class="goal--info">
                <div>
                    <h3>Мотик</h3>
                    <div style="display: flex; font-size: 10px; width: 200px; justify-content: space-between;">
                        <p>збережено: 7 000$</p>
                        <p>ціль: 15 000$</p>
                    </div>
                </div>
                <mat-progress-bar mode="determinate" color="primary" value="47"></mat-progress-bar>
            </div>
        </div>
        <p class="goal--progress">приблизний час досягнення: 3 місяці(в)</p>
    </section>
    <section class="goal">
        <div style="display: flex;">
            <img src="https://www.misskatecuttables.com/uploads/shopping_cart/7769/large_house2.png"
                class="goal--icon">
            <div class="goal--info">
                <div>
                    <h3>Хата</h3>
                    <div style="display: flex; font-size: 10px; width: 200px; justify-content: space-between;">
                        <p>збережено: 12 000$</p>
                        <p>ціль: 40 000$</p>
                    </div>
                </div>
                <mat-progress-bar mode="determinate" color="primary" value="30"></mat-progress-bar>
            </div>
        </div>
        <p class="goal--progress">приблизний час досягнення: 12 місяці(в)</p>
    </section>

    <section class="goal">
        <div style="display: flex;">
            <img src="https://freesvg.org/img/saco.png"
                class="goal--icon">
            <div class="goal--info">
                <div>
                    <h3>Инвест подушка</h3>
                    <div style="display: flex; font-size: 10px; width: 200px; justify-content: space-between;">
                        <p>збережено: 6 000$</p>
                        <p>ціль: 100 000$</p>
                    </div>
                </div>
                <mat-progress-bar mode="determinate" color="primary" value="6"></mat-progress-bar>
            </div>
        </div>
        <p class="goal--progress">приблизний час досягнення: 46 місяці(в)</p>
    </section>
</main>
