<div cdkDropListGroup>
    <div class="head-page">
    <div class="primary info-container" 
         cdkDropList
         [cdkDropListData]="primaryComponents"
         (cdkDropListDropped)="drop($event)">
        <app-tools-manager *ngFor="let component of primaryComponents" [component]="component"   
                           cdkDrag>
        </app-tools-manager>
    </div>
    <ng-content></ng-content>
    </div>

    <div class="work" 
         cdkDropList
         [cdkDropListData]="workComponents"
         (cdkDropListDropped)="drop($event)">
        <app-tools-manager *ngFor="let component of workComponents" [component]="component" 
                           class="info-container" 
                           cdkDrag>
        </app-tools-manager>
    </div>
</div>