.head-page {
    display: inline-flex;
}

.primary {
    width: 65%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}

.work {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: dense;
    border: 1px solid blue;
}