:host {
  display: block;
}

.or-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bs-gray-600);
  margin-bottom: 25px;
}

.line {
  width: 30%;
  border-bottom: 1px solid var(--bs-gray-300); 
}

.social-media {
  display: flex;
  justify-content: space-around;
}
