<mat-label>Index info:</mat-label>
<div class="index-info">

    <div class="index-card">
        <p>S&P 500 Index</p>
        <div class="index-card--content">
            <p style="color: blue">4536.34</p>
            <p style="color: green">0.03%</p>
        </div>
    </div>

    <div class="index-card">
        <p>NASDAQ Index</p>
        <div class="index-card--content">
            <p style="color: blue">4536.34</p>
            <p style="color: green">0.03%</p>
        </div>
    </div>

    <div class="index-card">
        <p>Dow Jones Index</p>
        <div class="index-card--content">
            <p style="color: blue">4536.34</p>
            <p style="color: green">0.03%</p>
        </div>
    </div>

</div>