<div class="spending">
  <div class="spending--content">
      <p class="text">Total balance</p>
      <p class="sum">$99 967.99</p>
  </div>

  <app-button-toggle [dataUnchecked]="'Spendings'" [dataChecked]="'History'"></app-button-toggle>

  <div class="circle-container">
      <app-donat-chart class="center" [portfolio]="stocksMock" [color]="'#CBCACA'">
      </app-donat-chart>
    <a href="#" class="item deg2"><img src="assets/expend/pet.svg" /></a>
    <a href="#" class="item deg3"><img src="assets/expend/car.svg" /></a>
    <a href="#" class="item deg4"><img src="assets/expend/clothes.svg"/></a>
    <a href="#" class="item deg5"><img src="assets/expend/drink.svg" /></a>
    <a href="#" class="item deg6"><img class="central-img" src="assets/expend/gift.svg" /></a>
    <a href="#" class="item deg1"><img src="assets/expend/health.svg"/></a>
    <a href="#" class="item deg7"><img class="central-img" src="assets/expend/food.svg" /></a>
    <a href="#" class="item deg8"><img src="assets/expend/house.svg" /></a>
  </div>

  <button mat-flat-button class="spending--button">Add spending</button>
</div>
