@if(marketInfo) {
    <section class="asset">
        <div>
            <p class="asset--title">{{marketInfo.name}}</p>
            <p>{{marketInfo.marketCapitalization}}</p>
        </div>

        <div class="asset--price">
            <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                <mat-label>Sum</mat-label>
                <input [(ngModel)]="marketInfo.price" [disabled]="editDisabled" matInput type="number" inputmode="numeric" class="line" placeholder="0" style="font-size: 1.5rem;">
                <span matTextSuffix class="currency" [class.currency--disabled]="editDisabled">$</span>
            </mat-form-field>
            <pgz-icon class="asset--icon" (click)="editDisabled = !editDisabled" [name]="'edit'"></pgz-icon>
        </div>

        <mat-form-field appearance="outline" floatLabel="always" class="asset--count">
            <mat-label>Count</mat-label>
            <input [(ngModel)]="count" matInput type="number" inputmode="numeric" class="line" placeholder="0" style="font-size: 1.5rem;">
        </mat-form-field>

        <button mat-flat-button class="accept-btn" (click)="saveEdit()">Save me</button>
    </section>
} @else {
    <p>Oops, something went wrong</p>
}
