::ng-deep {
    .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
        padding-right: 0;
        height: 40px;
        align-items: center;
        font-size: 12px;
    }

    .mat-mdc-form-field-icon-suffix>.mat-icon {
        color: var(--black-color);
    }

    .mat-button-toggle-group-appearance-standard:not([class*=mat-elevation-z]) {
        height: 38px;
        align-items: center;
    }
}

.market-container {
    display: flex;
}

.holdings-container {
    width: 500px;
}

.info-container {
    margin: 0;
}


