<div class="d-n" [class.visible]="isPrimaryInfoVisible">
    <div class="total-info--primary">
        <div><p>Total contribution: </p></div>
        <div><p>1000$</p></div>
    </div>

    <div class="total-info--primary">
        <div><p>Total profit: </p></div>
        <div><p>1000$</p></div>
    </div> 
</div>

<div class="p-0-20-20-20 d-n"
     [class.visible]="isVisibleRiskness">
    <p class="f-s-15">Reskness of portfolio:</p>
    <div class="total-info-riskness">
        
        <div class="total-info-riskness--row">
            <div><p>Variance & Standard deviation: </p></div>
            <div><p>1.2</p></div>
        </div>

        <div class="total-info-riskness--row">
            <div><p>Reskness by betta:</p></div>
            <div><p>1.1</p></div>
        </div>
    
        <div class="total-info-riskness--row">
            <div><p>Value at Risk (VaR):</p></div>
            <div><p>0.96</p></div>

        </div>
        <div class="total-info-riskness--row">
            <div><p>Risk-Reward Ratio:</p></div>
            <div><p>1.02</p></div>

        </div>
    </div>
</div>

<div class="d-n" [class.visible]="isVisibleAccountAction">
    <mat-form-field class="m-0-30-0-30">
        <mat-label>Account:</mat-label>
        <mat-select [formControl]="wallet">
            <mat-option value="bla">
                Stock Wallet
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex jc-c">
        <button type="button" mat-button class="deposit-btn">
            Deposit account
        </button>
    </div>
</div>