<section class="total-info">
    <header class="total-info--header">
        <div class="label">
            <mat-label>Wallet info:</mat-label>
        </div>

        <div>
            <button mat-icon-button 
                    [matMenuTriggerFor]="menu" 
                    class="settings">
                <mat-icon>settings</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <h3>Display blocks:</h3>
                <!-- TODO: додати кнопку select all -->
                <mat-checkbox [(ngModel)]="indexCtrl" (ngModelChange)="updateAllControls()">Index</mat-checkbox>
                <mat-checkbox [(ngModel)]="commodityCtrl" (ngModelChange)="updateAllControls()">Commodities</mat-checkbox>
                <mat-checkbox [(ngModel)]="profitCtrl" (ngModelChange)="updateAllControls()">Profit</mat-checkbox>
            </mat-menu>
        </div>
    </header>
    <div>
        <app-donat-chart>
        </app-donat-chart>
    </div>

    <app-total-info [primaryInfoCtrl]="stateService.primaryInfoVisible"
                    [risknessInfoCtrl]="stateService.risknessVisible"
                    [accountActionCtrl]="stateService.accountActionVisible">

    </app-total-info>

    <div class="expanded-panel"
        [class.visible]="stateService.chartHasMinHeight"
        [class.expanded-panel--header]="isHiddenTotalInfoOpen">
        <!-- 
            TODO: наверное и mat-accordion в отдельній компонент, и как тогда пробрасівать 
            controls?        
        -->
        <mat-accordion>
            <mat-expansion-panel [(expanded)]="isHiddenTotalInfoOpen">
            <mat-expansion-panel-header>
                <mat-panel-title class="justify-content-center">
                    <mat-icon *ngIf="!isHiddenTotalInfoOpen">keyboard_double_arrow_down</mat-icon>
                </mat-panel-title>
            </mat-expansion-panel-header>               
            
            <app-total-info [primaryInfoCtrl]="!stateService.primaryInfoVisible"
                            [risknessInfoCtrl]="!stateService.risknessVisible"
                            [accountActionCtrl]="!stateService.accountActionVisible">
            </app-total-info>

                <div class="d-flex justify-content-center mt-1">
                <mat-icon *ngIf="isHiddenTotalInfoOpen" (click)="isHiddenTotalInfoOpen = false">keyboard_double_arrow_up</mat-icon>
            </div>
            </mat-expansion-panel>
            
        </mat-accordion> 
    </div>
</section>