.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: var(--background-color);

    &--button {
        background-color: inherit;
        border: none;
    }

    &--label {
        font-size: 32px;
        align-self: center;
        margin-right: 20px;
    }

    &--icon {
        width: 50px;
    }
}
