<main class="info-container">
    <h3>Wallet</h3>
    <app-credit-card class="center"></app-credit-card>

    <section class="wrapper">

        <div class="wrapper--row">
            <div class="wallet-info">
                <div class="wallet-info--main">
                    <p class="label">Balance</p>
                    <p class="wallet-info--money">$30,000.00</p>
                </div>

                <div class="wallet-info--specification">
                    <p class="specification--positive">+30%</p>
                    <p class="specification--info">than last month</p>
                </div>
            </div>

            <div class="wallet-info">
                <div class="wallet-info--main">
                    <p class="label">Income</p>
                    <p class="wallet-info--money">$128,000,10</p>
                </div>

                <div class="wallet-info--specification">
                    <p class="specification--positive">+25%</p>
                    <p class="specification--info">than last month</p>
                </div>
            </div>
        </div>

        <div class="wrapper--row">
            <div class="wallet-info">
                <div class="wallet-info--main">
                    <p class="label">Spending</p>
                    <p class="wallet-info--money">$8,783,90</p>
                </div>

                <div class="wallet-info--specification">
                    <p class="specification--negative">-15%</p>
                    <p class="specification--info">than last month</p>
                </div>
            </div>

            <div class="wallet-info">
                <div class="wallet-info--main">
                    <p class="label">Savings</p>
                    <p class="wallet-info--money">$4,735.00</p>
                </div>

                <div class="wallet-info--specification">
                    <p class="specification--positive">+30%</p>
                    <p class="specification--info">than last month</p>
                </div>
            </div>
        </div>
    </section>
</main>