:host {
  display: block;
  height: 100%;
}

.filter-container {
  height: 100%;

  &--filters {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
