.calendar-header {
    display: flex;
    justify-content: space-evenly;

    &--card {
        text-align: center;
        font-size: 16px;
    }
}

.info {
    font-size: 18px;
}

#income {
    color: var(--accept-color);
}

#expend {
    color: var(--decline-color);
}

#summary {
    color: var(--light-color-100);
}
