:host {
  display: block;
}

.asset {
  display: flex;
  justify-content: space-between;

  &--title {
    display: flex;
  }

  &--name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  &--count {
    font-size: 12px;
  }

  &--info {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &--text-small-info {
    font-size: 12px;
  }

  &--text-primary-info {
    font-size: 17px;
    margin-bottom: 5px;
  }

  &--values {
    display: flex;
    flex-direction: column;
  }

  &--icon {
    font-size: 2.2rem;
  }
}

.asset-menu {
  &--item {
    margin: 10px 0 10px 10px;
    font-size: 18px;
  }
}

.card-mobile {
  border-radius: 10px;
  margin: 10px 20px 0px 20px;
  padding: 10px 5px;
  border: 1px solid var(--bs-gray-300);
}

.card-icon {
  width: 40px;
  align-self: center;
}

.company-expand-info .mat-expansion-panel-header {
  height: auto;
}

.company-expand-info .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.company-expand-info .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: inherit;
}

.expand {
  background: inherit;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
}

.dots {
  &--button {
    background-color: inherit;
    border: none;
  }

  &--icon {
    width: 25px;
  }
}
