<div class="range-controller">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
                <p class="range-controller--date">{{ startDateCtrl.value | dateFormat: 'DD.MM.YY' }} - {{ endDateCtrl.value | dateFormat: 'DD.MM.YY' }}</p>
                <p class="range-controller--compare-date">compare with {{ compareStartDateCtrl.value | dateFormat: 'DD.MM.YY' }} - {{ compareEndDateCtrl.value | dateFormat: 'DD.MM.YY' }}</p>
            </div>

            <div style="margin-left: auto;"><pgz-icon [name]="'custom_settings'"></pgz-icon></div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="range-controller--control">
            <mat-form-field appearance="outline">
                <mat-date-range-input
                [formGroup]="formRange"
                [rangePicker]="campaignOnePicker"
                [comparisonStart]="formRange.value.startDate"
                [comparisonEnd]="formRange.value.endDate">
                <input matStartDate placeholder="Start date" formControlName="startDate">
                <input matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
            </mat-form-field>

            <div (click)="toogleCompare()">
                <mat-checkbox class="example-margin">Compare</mat-checkbox>
            </div>

            @if(isCompareEnabledCtrl.value) {
                <mat-form-field appearance="outline">
                    <mat-date-range-input
                    [formGroup]="formRange"
                    [rangePicker]="campaignOTwoPicker"
                    [comparisonStart]="formRange.value.compareStartDate"
                    [comparisonEnd]="formRange.value.compareEndDate">
                    <input matStartDate placeholder="Start date" formControlName="compareStartDate">
                    <input matEndDate placeholder="End date" formControlName="compareEndDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOTwoPicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOTwoPicker></mat-date-range-picker>
                </mat-form-field>
            }
        </div>
    </mat-expansion-panel>
    
    <!-- <div class="range-controller--btns">
        <button
            class="btn" 
            [ngClass]="{'active': selectedRange.value === 'month'}" 
            [disabled]="selectedRange.value === 'month'"
            (click)="changeToCurrentMonthRange()">Cur month</button>
    
        <button
            class="btn"  
            [ngClass]="{'active': selectedRange.value === '90'}" 
            [disabled]="selectedRange.value === '90'"
            (click)="changeTo90DayRange()">90 days</button>

        <button 
            class="btn" 
            [ngClass]="{'active': selectedRange.value === '120'}" 
            [disabled]="selectedRange.value === '120'"
            (click)="changeTo120DayRange()">120 days</button>

        <button 
            class="btn" 
            [ngClass]="{'active': selectedRange.value === '365'}" 
            [disabled]="selectedRange.value === '365'"
            (click)="changeTo360DayRange()">365 days</button>
    </div> -->
</div>