.info-container {
    display: unset;
}

tr.expand-row {
    height: 0;
}

.element-row {
    td {
        border-bottom-width: 0;
    }
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.expanded-component {
    padding: 20px 0px 20px 0px;
    width: 100%;
}