<p class="title">General</p>
<div class="settings-box">
    <div class="general-item">
        <p>Monthly budget</p>
        <div class="general-item--value">
            <p>10 000</p>
            <div class="arrow-box">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
    <div class="general-item">
        <p>Currency</p>
        <div class="general-item--value">
            <p>UAH</p>
            <div class="arrow-box">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
    <div class="general-item">
        <p>Data export/import</p>
        <div class="general-item--value">
            <div class="arrow-box">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
</div>
