<section>
    <pgz-prev-route [showArrow]="false"><p>Settings</p></pgz-prev-route>
    <section class="profile">

        @if(isAuthorizedUser) {
            <div class="profile-header--authorized">
                <p class="profile-header--authorized-name">{{userName}}</p>
                <div class="profile-header--exit" (click)="logout()">
                    <p style="align-self: baseline;">Exit</p>
                    <pgz-icon class="profile-header--edit" [name]="'logout'"></pgz-icon>
                </div>
            </div>
            <div class="d-flex justify-space-between">
                <div>
                    <p>{{ userEmail }}</p>
                    @if(!isConfirmaEmail) {
                        <div style="display: flex; align-items: center;">
                            <pgz-icon class="profile-header--icon" class="profile--edit" [name]="'custom_priority'"></pgz-icon>
                            <p style="margin-left: 8px; font-size: 14px; color: #5A5A5A;">Email not confirm</p>
                        </div>
                    }
                </div>
                
                @if(!isConfirmaEmail) {
                    <div class="profile-header--unauthorized__btn montserrat">Confirm</div>
                } @else {
                    <div class="d-flex" style="align-items: center;">
                        <pgz-icon class="profile-header--icon" style="color: green" class="profile--edit" [name]="'check'"></pgz-icon>
                        <p style="margin-left: 8px; font-size: 14px; color: #5A5A5A;">Confirmed</p>
                    </div>
                }
            </div>
        } @else {
            <div class="profile-header--unauthorized">
                <div class="profile-header--unauthorized__warning">
                    <pgz-icon style="width: 16px; height: 17px; line-height: 15px;" class="profile--edit" [name]="'custom_priority'"></pgz-icon>
                    <p>Log in to save data</p>
                </div>
                <div class="profile-header--unauthorized__btns">
                    <div class="profile-header--unauthorized__btn montserrat" (click)="login()">Login</div>
                    <div class="profile-header--unauthorized__btn montserrat" (click)="registration()">Registration</div>
                </div>
            </div>
        }
    </section>
    
    <div class="settings-box">
        <div class="general-item">
            <p>Profile settings</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-box">
        <div class="general-item" (click)="changeMonthlyBudget()">
            <p>Monthly budget</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>
    <pgz-system></pgz-system>
    
    <div class="settings-box">
        <div class="general-item">
            <p>Export / Import data</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-box disabled">
        <div class="general-item">
            <p>Write to us</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>

        <div class="general-item">
            <p>Rate the app</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>

        <div class="general-item">
            <p>Subscription / Donate</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>


    @if(isAuthorizedUser) {
        <p class="profile--delete">Delete profile</p>
    }
</section>
<div style="margin-left: 20px;">
    <mat-slide-toggle [(ngModel)]="isStageMode" (ngModelChange)="onToggleChange()">
        {{ isStageMode ? 'Stage Mode' : 'Dev Mode' }}
    </mat-slide-toggle>

</div>
