<section>
    <p>Settings</p>
    <section class="profile">

        @if(isAuthorizedUser) {
            <div class="profile-header--exit" (click)="logout()">
                <p>Exit</p>
                <pgz-icon class="profile-header--edit" [name]="'logout'"></pgz-icon>
            </div>
        } @else {
            <div class="profile-header--unauthorized">
                <div class="profile-header--unauthorized__warning">
                    <div class="profile-header--unauthorized__priority-icon">!</div>
                    <p>Log in to save data</p>
                </div>
                <div class="profile-header--unauthorized__btns">
                    <div class="profile-header--unauthorized__btn" (click)="login()">Login</div>
                    <div class="profile-header--unauthorized__btn" (click)="registration()">Registration</div>
                </div>
            </div>
            
            <!-- <div class="profile-header--exit" >
                <p>Login</p>
                <pgz-icon class="profile-header--edit" [name]="'login'"></pgz-icon>
            </div> -->
        }

        <!-- <div class="profile--username">
            <p>User912</p>
            <pgz-icon class="profile--edit" [name]="'custom_edit'"></pgz-icon>
        </div> -->

        <div class="profile--email">
            @if(isAuthorizedUser) {
                <p>{{ userEmail }}</p>
                <pgz-icon class="profile--edit" [name]="'custom_edit'"></pgz-icon>
            } @else {
                <p>-</p>
            }

            <div>
                <mat-slide-toggle [(ngModel)]="isChecked" (ngModelChange)="onToggleChange()">
                    {{ isChecked ? 'Dev Mode' : 'Stage Mode' }}
                </mat-slide-toggle>
        
            </div>
        </div>
    </section>
    
    <div class="settings-box">
        <div class="general-item">
            <p>Profile settings</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-box">
        <div class="general-item" (click)="changeMonthlyBudget()">
            <p>Monthly budget</p>
            <div class="general-item--value">
                <!-- <p>{{ monthlyBudget }}</p> -->
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>
    <pgz-system></pgz-system>
    
    <div class="settings-box">
        <div class="general-item">
            <p>Export / Import data</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-box disabled">
        <div class="general-item">
            <p>Write to us</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>

        <div class="general-item">
            <p>Rate the app</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>

        <div class="general-item">
            <p>Subscription / Donate</p>
            <div class="general-item--value">
                <div class="arrow-box">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>


    @if(isAuthorizedUser) {
        <p class="profile--delete">Delete profile</p>
    }
</section>
