<pgz-total-balance></pgz-total-balance>
  
  <pgz-button-toggle [dataUnchecked]="'Spending'" [dataChecked]="'Saving'" (buttonValue)="onChangeFrame($event)"></pgz-button-toggle>
  
  @if(isSpendingFrame) {
    <pgz-spending-statistic></pgz-spending-statistic>
  } @else {
    <main>
      <pgz-bar class="bar"></pgz-bar>
    
      <mat-tab-group class="statistic--year">
        @for(year of years; track trackYear) {
          <mat-tab [label]="year">
            @for(month of months; track month) {
              <ng-container>
                <mat-expansion-panel class="statistic--month" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      
                      {{ month }}
                    </mat-panel-title>
                    <mat-panel-description>
                      <div class="icon-wrapper">
                      <mat-icon class="icon-wrapper--icon">add</mat-icon>
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Some text</p>
              
                </mat-expansion-panel>
              </ng-container>
            }
          </mat-tab>
        }
      </mat-tab-group>
    </main>
  }
  