<div class="title-container">
    <h2 class="text-right">Tesla Inc.</h2>
    <h2 class="text-left">216.46</h2>
</div>

<div class="trade-container">
    <form [formGroup]="tradeForm">
        <div class="custom-checkbox">
            <input id="status" type="checkbox" name="status">
            <label for="status">
                <div class="status-switch" data-unchecked="Buy" data-checked="Sell">
                </div>
            </label>
        </div>

        <section>
            <div class="form">
                <div class="label">
                    <h3>Account: </h3>
                </div>
                <mat-form-field class="custom-form-field">
                    <mat-select formControlName="account">
                        <mat-option *ngFor="let account of accounts" [value]="account.id">
                            {{ account.accountName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form">
                <div class="label">
                    <h3>Price: </h3>
                </div>
                <mat-form-field>
                    <mat-select formControlName="typePrice">
                        <mat-option *ngFor="let typePrice of typeOfTradePrice" [value]="typePrice">
                            {{ typePrice }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form">
                <input formControlName="amount" type="number" matInput placeholder="0">
                <button mat-flat-button class="btn-max">max</button>
            </div>
        </section>
        <p>Order amount: 100$</p>
    </form>
</div>