.overview-info {
    display: flex;
    padding: 20px;
    justify-content: space-around;

    hr {
        border-color: var(--accept-color);
    }

    .mat-mdc-card-title {
        color: var(--accept-color);
        --mat-card-title-text-line-height: 10px;
    }

    .mat-mdc-card-content {
        padding: 0px 10px;
    }
}

.card-company {
    background: var(--dark-color);
    border-radius: 10px;

    #static-text {
        color: var(--accept-color);
    }
}

 .table-assets table {
    width: 100%;

    tr {
        height: 25px;
    }

    td {
        border-bottom: 10px;
    }
    td:first-child {
       padding-right: 20px;
    }

    td:not(:first-child) {
        text-align: right;
    }
}
