.table-assets {
    width: auto;
    height: 315px;
    overflow: scroll;
    

    table {
        tbody {
            tr {
                height: 52px;
            }

            td {
                padding: 0px 16px 0px 16px;
            }
            
        }
        td:not(:first-child) {
            text-align: right;
        }
    }
}

.title-details {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
