 .dynamic-block {

     display: flex;
     flex-direction: column;

     .mdc-data-table__row:last-child .mat-mdc-cell {
         border-bottom: 10px solid var(--black-color);
     }

     .indexes-grid-element {
         display: block;
         height: 150px;
     }

     .additional-table {
         display: block;
         font-size: 14px;
         height: 260px;
     }

     .resize {
        min-height: 160px;
        max-height: 500px;
     }
 }
 