<section class="dynamic-block">

    <app-resizable class="info-container chart-info"
                   [class.primary-visible-height]="stateService.chartHasMinHeight && !stateService.chartHasMaxWidth"
                   [class.primary-visible-width]="stateService.chartHasMaxWidth">
      <mat-label>Portfolio Performance Chart:</mat-label>
      <app-area-chart></app-area-chart>
    </app-resizable>

    <app-commodities-table *ngIf="stateService.commodityContainerVisible"
                           class="info-container additional-table">
    </app-commodities-table>

    <app-profit-table *ngIf="stateService.profitContainerVisible"
                      class="info-container additional-table">
    </app-profit-table>

    <!-- TODO: rename: Index info -->
    <app-index-card *ngIf="stateService.indexContainerVisible"
                    class="info-container indexes-grid-element">
    </app-index-card>

</section>
