<section class="dynamic-info"
         [class.height-total-min]="stateService.minContent"
         [class.height-total-max]="stateService.maxContent">

    <section class="dynamic-block">
        <div #chartContainer class="info-container chart-info"
            [class.primary-visible-height]="stateService.chartHasMinHeight && !stateService.chartHasMaxWidth"
            [class.primary-visible-width]="stateService.chartHasMaxWidth">
            <mat-label>Portfolio Performance Chart:</mat-label>
            <app-area-chart [width]="width" 
                            [height]="height">
            </app-area-chart>
        </div>

        
        <app-commodities-table class="info-container additional-table" 
                               [class.visible]="stateService.commodityContainerVisible">
        </app-commodities-table>

        <app-profit-table class="info-container additional-table"
                          [class.visible]="stateService.profitContainerVisible">   
        </app-profit-table>

        <app-index-card class="info-container indexes-grid-element" 
                        [class.visible]="stateService.indexContainerVisible">
        </app-index-card>
    </section>


    <aside class="total-info info-container">
        <app-total-info-wrapper class="total-info">
        </app-total-info-wrapper>
    </aside>
</section>