<section class="dynamic-info"
         [class.height-total-min]="isMinHeight"
         [class.height-total-max]="isMaxHeight">
    <section class="dynamic-block">
        <div #chartContainer class="info-container chart-info"
            [class.primary-visible-height]="isPrimaryVisibleHeight && !isPrimaryVisibleWidth"
            [class.primary-visible-width]="isPrimaryVisibleWidth">
            <mat-label>Portfolio Performance Chart:</mat-label>
            <app-area-chart [width]="width" 
                            [height]="height">
            </app-area-chart>
        </div>

        <div class="info-container additional-table" 
             [class.visible]="commodityDisplayCtrl.value">

            <mat-label>Commodities info:</mat-label>
            <div class="table-assets m-t-10 p-0">
                <table mat-table [dataSource]="dataSourceCommodity">
                    <ng-container matColumnDef="commodity">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.commodity }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.price }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="change">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.change }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="percentageChange">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.percentageChange }}
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCommodity;"></tr>
                </table>
            </div>
        </div>

        <div class="info-container additional-table"
             [class.visible]="profitDisplayCtrl.value">
            <mat-label>Profits:</mat-label>
            <div class="table-assets m-t-10">

                <table mat-table [dataSource]="dataSourceProfit">
                    <ng-container matColumnDef="property">
                        <th mat-header-cell *matHeaderCellDef>Property</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.property }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.value }}
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div class="info-container indexes-grid-element" 
             [class.visible]="indexDisplayCtrl.value">
            <mat-label>Index info:</mat-label>
            <div class="index-info">

                <div class="index-card">
                    <p>S&P 500 Index</p>
                    <div class="index-card--content">
                        <p style="color: blue">4536.34</p>
                        <p style="color: green">0.03%</p>
                    </div>
                </div>

                <div class="index-card">
                    <p>NASDAQ Index</p>
                    <div class="index-card--content">
                        <p style="color: blue">4536.34</p>
                        <p style="color: green">0.03%</p>
                    </div>
                </div>

                <div class="index-card">
                    <p>Dow Jones Index</p>
                    <div class="index-card--content">
                        <p style="color: blue">4536.34</p>
                        <p style="color: green">0.03%</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <aside #aside class="total-info info-container">
        <div class="total-info--header">
            <div class="label">
                <mat-label>Wallet info:</mat-label>
            </div>

            <div>
                <button mat-icon-button 
                        [matMenuTriggerFor]="menu" 
                        class="settings">
                    <mat-icon>settings</mat-icon>
                </button>

                <mat-menu #menu="matMenu" [formGroup]="toppings">
                    <h3>Display blocks:</h3>
                    <!-- TODO: додати кнопку select all -->
                    <mat-checkbox formControlName="indexDisplayCtrl">Index</mat-checkbox>
                    <mat-checkbox formControlName="commodityDisplayCtrl">Commodities</mat-checkbox>
                    <mat-checkbox formControlName="profitDisplayCtrl">Profit</mat-checkbox>
                </mat-menu>
            </div>
        </div>
        <div>
            <app-donat-chart>
            </app-donat-chart>
        </div>
       
        <!-- <div class="d-n" [class.visible]="isPrimaryInfoVisible">
            <div class="total-info--primary">
                <div><p>Total contribution: </p></div>
                <div><p>1000$</p></div>
            </div>

            <div class="total-info--primary">
                <div><p>Total profit: </p></div>
                <div><p>1000$</p></div>
            </div> 
        </div>

        <div class="p-0-20-20-20 d-n"
             [class.visible]="isVisibleRiskness">
            <p class="f-s-15">Reskness of portfolio:</p>
            <div class="total-info-riskness">
                
                <div class="total-info-riskness--row">
                    <div><p>Variance & Standard deviation: </p></div>
                    <div><p>1.2</p></div>
                </div>

                <div class="total-info-riskness--row">
                    <div><p>Reskness by betta:</p></div>
                    <div><p>1.1</p></div>
                </div>
            
                <div class="total-info-riskness--row">
                    <div><p>Value at Risk (VaR):</p></div>
                    <div><p>0.96</p></div>

                </div>
                <div class="total-info-riskness--row">
                    <div><p>Risk-Reward Ratio:</p></div>
                    <div><p>1.02</p></div>

                </div>
            </div>
        </div>

        <div class="d-n" [class.visible]="isVisibleAccountAction">
            <mat-form-field class="m-0-30-0-30">
                <mat-label>Account:</mat-label>
                <mat-select [formControl]="wallet">
                    <mat-option value="bla">
                        Stock Wallet
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="flex jc-c">
                <button type="button" mat-button class="deposit-btn">
                    Deposit account
                </button>
            </div>
        </div> -->

        <app-total-info-wrapper [isPrimaryInfoVisible]="isPrimaryInfoVisible"
                                [isVisibleAccountAction]="isVisibleAccountAction"
                                [isVisibleRiskness]="isVisibleRiskness">

        </app-total-info-wrapper>

        <div class="expanded-panel"
             [class.visible]="!indexDisplayCtrl.value || isPrimaryVisibleHeight"
             [class.expanded-panel--header]="panelOpenState">
            <mat-accordion>
                <mat-expansion-panel [(expanded)]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title class="jc-c">
                        <mat-icon *ngIf="!panelOpenState">keyboard_double_arrow_down</mat-icon>
                    </mat-panel-title>
                </mat-expansion-panel-header>               
                
                <app-total-info-wrapper [isPrimaryInfoVisible]="!isPrimaryInfoVisible"
                                        [isVisibleAccountAction]="!isVisibleAccountAction"
                                        [isVisibleRiskness]="!isVisibleRiskness">
                </app-total-info-wrapper>

                    <div class="flex jc-c m-t-10">
                    <mat-icon *ngIf="panelOpenState" (click)="panelOpenState = false">keyboard_double_arrow_up</mat-icon>
                </div>
                </mat-expansion-panel>
                
            </mat-accordion> 
        </div>
    </aside>
</section>