<div style="display: flex; justify-content: space-between;">
    <h2>Detail:</h2>
    <h2>TSLA</h2>
</div>
<div class="table-assets">
    
    <table>
        <tbody>
            <tr>
                <td>Symbol: </td>
                <td>{{ stock.symbol }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ stock.name }}</td>
            </tr>
            <tr>
                <td>Currency:</td>
                <td>{{ stock.currency }}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>Sector:</td>
                <td>{{ stock.sector }}</td>
            </tr>
            <tr>
                <td>Industry:</td>
                <td>FINANCE</td>
            </tr>
            <tr>
                <td>Market Capitalization</td>
                <td>1000000000$</td>
            </tr>
            <tr>
                <td>Dividend Yield:</td>
                <td>{{ stock.dividendYield }}</td>
            </tr>
            <tr>
                <td>Dividend Date:</td>
                <td>10-20-12</td>
            </tr>
            <tr>
                <td>Last Dividend Date:</td>
                <td>10-20-12</td>
            </tr>
        </tbody>
    </table>
</div>