.table-assets {
    width: auto;
    height: 300px;
    overflow: scroll;

    table {
        tbody {
            tr {
                height: 52px;
            }
            td {
                padding: 0px 16px 0px 16px;
            }
        }
    }
}
