img {
    position: relative;
    box-sizing: border-box;
    width: 154px;
    height: 154px;
    border: 2px solid black;
    border-radius: 50%;
}

.total-info {
    margin: 0px 0px 0px 20px;
    padding: 10px;
    display: block;
    width: 410px;
}
