:host {
  display: block;
}

.icon-picker {
  position: relative;
}

.icon-grid {
  position: absolute;
    top: -20px;
    left: -10px;
    width: max-content;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    border-radius: 8px;
    z-index: 10;
    max-height: 200px;
    overflow-y: scroll;
}
