<div class="navigation" 
    [class.flipping]="isFlipping"
    >
  <mat-icon class="navigation--element"
            [routerLink]="SPENDING_NAV_ITEM.path" 
            [routerLinkActive]="'navigation--element__active'">
    {{ SPENDING_NAV_ITEM.icon }}
  </mat-icon>

  @if(currentMode === UserMode.Dev) {
    <mat-icon class="navigation--element"
              [routerLink]="SAVINGS_NAV_ITEM.path" 
              [routerLinkActive]="'navigation--element__active'">
      {{ SAVINGS_NAV_ITEM.icon }}
    </mat-icon>
  }

  <div (click)="onButtonClick()">
    <pgz-add-btn></pgz-add-btn>
  </div>

  @if(currentMode === UserMode.Dev) {
    <mat-icon class="navigation--element"
              [routerLink]="GOALS_NAV_ITEM.path"
              [routerLinkActive]="'navigation--element__active'">
      {{ GOALS_NAV_ITEM.icon }}
    </mat-icon>
  }

  <mat-icon class="navigation--element"
            [routerLink]="SETTINGS_NAV_ITEM.path" 
            [routerLinkActive]="'navigation--element__active'">
    {{ SETTINGS_NAV_ITEM.icon }}
  </mat-icon>
</div>
