:host {
  display: block;
  // position: absolute;
  // width: 100%;
  // background-color: #fff;
  // height: 100%;
  // z-index: 1;
}

.add-edit-category {
  padding: 10px;

  &--actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }

  &--btn {
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid var(--bs-success);
    padding: 1.5rem;
  }

  &--choose-color {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--selected-color {
    height: 8px;
    width: 100%;
  }
}

.category-item {
  margin-bottom: 32px;

  &--name::placeholder {
    font-size: 1rem;
  }

  &--icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  &--title {
    font-size: 18px;
    font-weight: 500;
  }
  
}

.category-item input {
  border: none;
  border-bottom: 1px solid #C1C1C1;
}

.back {
  display: flex;
}

.save {
  color: white;
  background-color: var(--bs-success) !important;
}
