<div (click)="prevRoute()">
    <pgz-prev-route>
        
        @if(editCategory) {
            <p>Edit category</p>
        } @else {
            <p>Add category</p>
        }
    </pgz-prev-route>
</div>
<section class="add-edit-category page">
    <pgz-form-input>
        <label style="margin-top: 32px;">Name category</label>
        <input type="text" placeholder="Enter name of category" [formControl]="categoryTitleCtrl">
    </pgz-form-input>

    <pgz-form-field (click)="toggleColorPicker()" [widthBorder]="85">
        <label style="margin-top: 32px;">Color</label>
        
        <div class="d-flex"  style="margin-top: 16px; align-items: center;">
            
            <div class="add-edit-category--choose-color" [ngStyle]='{ "background-color": selectedColor }'>
                <pgz-icon [name]="'custom_color_icon'"></pgz-icon>
            </div>
            <pgz-color-picker [isDropdownOpen]="isColorDropdownOpen" (colorSelected)="selectColor($event)"></pgz-color-picker>
            <p>Change color</p>
            <div style="margin-left: auto;">
                <pgz-arrow-back [rotateAngle]="'-45'" [useBlackColor]="true"></pgz-arrow-back>
            </div>
        </div>
        
    </pgz-form-field>

    <pgz-form-field [widthBorder]="85">
        <label style="margin-top: 32px;">Icon</label>
        <div class="d-flex"  style="margin-top: 16px; align-items: center;">
            <div class="add-edit-category--choose-color" [ngStyle]='{ "background-color": selectedColor }'>
                <pgz-icon class="category--icon" [name]="selectedIcon"></pgz-icon>
            </div>
            <pgz-icon-picker id="iconPicker" (onSelectIcon)="onSelectIcon($event)"></pgz-icon-picker>
            <div style="margin-left: auto;">
                <pgz-arrow-back [rotateAngle]="'-45'" [useBlackColor]="true"></pgz-arrow-back>
            </div>
        </div>
    </pgz-form-field>

    

    <div style="display: flex; justify-content: space-between; margin-top: 32px;">
        <label class="toggle-text"><span>Limit category</span></label>
        <label class="toggle-button">
            <input type="checkbox" [ngModel]="isLimitCategoryEnebled" (change)="toggleLimitCategory()">
            <span class="slider"></span>
        </label>
    </div>

    @if(isLimitCategoryEnebled) {
        <pgz-form-input>
            <input class="add-edit-category--name" type="number" inputmode="numeric" placeholder="0" [(ngModel)]="limitOfCaregory" pgzMoney>
            <span class="add-spending--currency">$</span>
        </pgz-form-input>
    }

    <div class="add-edit-category--actions">
        <button mat-flat-button
                type="submit" class="pgz-btn pgz-btn--option montserrat" 
                style="color: #BB4545;"
                (click)="onDeleteCategory()">
        {{ 'Delete Category' }}
        </button>

        <button mat-flat-button
                [class.pgz-btn--submit-enabled]="canSave"
                [class.pgz-btn--submit-disabled]="!canSave"
                type="submit" class="pgz-btn montserrat" 
                (click)="onAdd()">
        {{ 'Save' }}
        </button>
    </div>
</section>
