<section class="add-category">
    <div class="back" [routerLink]="['/spending']">
        <span><pgz-icon [name]="'keyboard_backspace'"></pgz-icon></span>
        <span>Back</span>
    </div>
    <div class="category">
        <pgz-category-select [categories]="categories" [selectedCategory]="selectedCategory" [label]="'Choose parent category'" [(ngModel)]="selectedCategory"></pgz-category-select>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
            <mat-label>Name category</mat-label>
            <input matInput type="text" inputmode="numeric" class="category--name" placeholder="Enter name of category" style="font-size: 1.5rem;" [formControl]="categoryTitleCtrl">
        </mat-form-field>
    </div>
    <div style="display: flex; position: relative;">
        <p>Selected icon for category: </p>
        <pgz-icon class="category--icon" [name]="selectedIcon"></pgz-icon>
        <pgz-icon-picker (onSelectIcon)="onSelectIcon($event)"></pgz-icon-picker>
    </div>
    
    <div class="add-category--actions">
        <button class="add-category--btn" mat-button [routerLink]="['/spending']">Cancel</button>
        <button class="add-category--btn save" mat-button (click)="onAdd()">Add</button>
    </div>
</section>