<section class="add-edit-category">
    <div class="back" [routerLink]="['/spending']">
        <span><pgz-icon [name]="'keyboard_backspace'"></pgz-icon></span>
        <span>Back</span>
    </div>
    <div class="category">
        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
            <mat-label>Name category</mat-label>
            <input matInput type="text" class="category--name" placeholder="Enter name of category" style="font-size: 1.5rem;" [formControl]="categoryTitleCtrl">
        </mat-form-field>
    </div>
    <div style="display: flex; position: relative;">
        <p>Selected icon for category: </p>
        <pgz-icon class="category--icon" [name]="selectedIcon"></pgz-icon>
        <pgz-icon-picker (onSelectIcon)="onSelectIcon($event)"></pgz-icon-picker>
    </div>

    <div>
        <label for="colorInput">Select Color:</label>
        <input id="colorInput" type="color" [(ngModel)]="selectedColor">
    </div>
    
    <div class="add-edit-category--actions">
        <button class="add-edit-category--btn" mat-button [routerLink]="['/spending']">Cancel</button>
        
        <button class="add-edit-category--btn save" mat-button (click)="onAdd()">
            @if(!!!this.editCategory) {
                Add
            } @else {
                Save
            }
        </button>
    </div>
</section>