.info-account {
    display: flex;
    justify-content: space-between;
}

.grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 310px 250px 190px;

    .chart-info {
        grid-column: span 2;
        grid-row: span 2;
    }

    .primary-visible-width {
        grid-column: span 3;
    }
    .primary-visible-height {
        grid-row: span 3;
    }

    .indexes-grid-element {
        grid-column: span 3;
    }

    .expanded-table {
        grid-column: span 1;
        max-width: 260px;

        tr {
            height: 50px;
            td {
                font-size: 12px;
            }
        }

        &--profit {
            tr {
                height: 50px;
                td {
                    font-size: 12px;
                }
            }
            height: 250px;
            .mdc-data-table__row:last-child .mat-mdc-cell {
                border-bottom: 10px solid var(--black-color);
            }
        }

        &--calculator {
            tr {
                height: 50px;
                td {
                    font-size: 12px;
                }
            }
            height: 190px;
            .mdc-data-table__row:last-child .mat-mdc-cell {
                border-bottom: 10px solid var(--black-color);
            }
        }

        
    }

    .visible {
        display: none;
    }
}

.index-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

mat-label {
    font-size: 16px;
}

.section-border {
    border-radius: 10px;
    background-color: rgb(16, 16, 16);

    ::ng-deep {
        .mat-mdc-tab.mdc-tab {
            justify-content: flex-start;
            --mat-tab-header-inactive-label-text-color: var(--light-color);
            --mat-tab-header-active-label-text-color: var(--light-color);
            --mat-tab-header-active-hover-label-text-color: var(--light-color);
            --mat-tab-header-inactive-hover-label-text-color: var(--light-color);
            --mat-tab-header-active-focus-label-text-color: var(--light-color);
            --mat-tab-header-inactive-focus-label-text-color: var(--light-color);
        }

        .mdc-tab .mdc-tab-indicator {
            display: none;
        }

        .mat-mdc-tab-labels .mdc-tab {
            color: var(--light-color);
            background-color: var(--black-color);

            .mdc-tab-indicator {
                display: flex;

                .mdc-tab-indicator__content {
                    &--underline {
                        --mdc-tab-indicator-active-indicator-color: var(--accept-color);
                        --mat-tab-header-active-focus-indicator-color: var(--accept-color);
                        --mat-tab-header-active-hover-indicator-color: var(--accept-color);
                        border-top-width: 1px;
                    }
                }
            }
        }

    }
}

.total-info {
    flex: none;
    display: block;
    width: 300px;
    height: 690px;
}

.settings {
    color: #6c7aa3cc;
}

.settings:hover {
    color: #6c7aa3e2;
    transform: rotate(10deg);
}

.index-card {
    display: flex;
    justify-content: center;
    width: 180px;
    background: var(--dark-color);
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 2px 4px var(--light-color-100);

    &--title {
        margin-bottom: 10px;
        text-align: center
    }

    &--content {
        display: flex;
        justify-content: space-around;
    }
}

.index-card:not(:first-child) {
    margin-left: 20px;
}
