::ng-deep {

    .mat-mdc-tab.mdc-tab {
        justify-content: flex-start;
    }

    .mdc-tab-indicator__content--underline {
        border-color: transparent !important;
    }

    .mat-mdc-tab-labels .mdc-tab {
        background-color: var(--dark-color);
    }

    .mdc-tab-indicator--active {
        width: 80%;
        background-color: var(--black-color) !important;
    }

    .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
    .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active,
    .mdc-tab__text-label {
        color: var(--light-color) !important;
    }
}

.change-section {
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
}

.total-info {
    flex:none;
    display: block;
    width: 400px;
    height: 400px;
}

.chart-info {
    width: 100%;
    height: auto;
}