<div class="page-container">
    <header class="settings">
        <button mat-icon-button 
                [matMenuTriggerFor]="menu" 
                class="settings--icon">
            <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <h3>Display blocks:</h3>
            <!-- TODO: додати кнопку select all -->
            <mat-checkbox [(ngModel)]="stateService.indexContainerVisible">Index</mat-checkbox>
            <mat-checkbox [(ngModel)]="stateService.commodityContainerVisible">Commodities</mat-checkbox>
            <mat-checkbox [(ngModel)]="stateService.profitContainerVisible">Profit</mat-checkbox>
        </mat-menu>
    </header>

    <section class="changeable-section">

        <app-dynamic-info class="w-100">
        </app-dynamic-info>

        <aside class="total-info info-container">
            <app-total-info-wrapper class="total-info">
            </app-total-info-wrapper>
        </aside>
        
    </section>

    <section class="section-border">
        <mat-tab-group>
            <mat-tab label="My Holdings:">

                <app-holdings-stock [stocks]="stocks">
                </app-holdings-stock>

            </mat-tab>
            <mat-tab label="Stock Market:">

                <app-stock-market>
                </app-stock-market>

            </mat-tab>
        </mat-tab-group>
    </section>
</div>
