<div class="page-container">
    <section class="info-account">
        <div class="info-container total-info">
            <mat-label>Wallet info:</mat-label>

            <app-donat-chart>
            </app-donat-chart>
        </div>

        <div class="info-container chart-info">
            <mat-label>Wallet Chart:</mat-label>
            <app-area-chart>
            </app-area-chart>
        </div>

    </section>

    <section class="section-border">
        <mat-tab-group>
            <mat-tab label="My Holdings:">
                <app-holdings-stock></app-holdings-stock>
            </mat-tab>
            <mat-tab label="Stock Market:">
                <app-stock-market></app-stock-market>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>
