<div class="spending-stat-card" [ngClass]="{'disabled': !isVisible}">
    <div class="spending-stat-card--category" (click)="onClickCard()">
        <pgz-icon class="spending--icon" [name]="_data.category.icon"></pgz-icon>
        <p>{{_data.category.title}}</p>
    </div>

    <div class="spending-stat-card--value">
        <p>{{_data.value}}</p>

        <button class="btn" (click)="onToggleCategory()">
            @if(isVisible) {
                <mat-icon>{{'visibility'}}</mat-icon>
            } @else {
                <mat-icon>{{'visibility_off'}}</mat-icon>
            }
        </button>
    </div>
</div>