:host {
  display: block;
}

.spending-stat-card {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  height: 50px;
  // padding: 10px;

  &--icon {
    border-radius: 50%;
    padding: 4px;
  }

  &--right-block {
    height: inherit;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &--compare-mode {
    height: 100%;
  }

  &--color {
    width: 24px;
    height: 24px;
    align-self: center;
    border-radius: 5px;
  }

  &--category {
    display: flex;
    align-items: center;
  }

  &--btn {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &--category p {
    margin-left: 10px;
  }

  &--value p {
    margin-right: 10px;
  }
}

.spending-stat-card-value {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  font-size: 14px;

  &--compare-mode {
    display: flex;
    align-items: center;
  }

  &--compare-mode__name {
    text-align: left;
    flex: 2;
  }

  &--compare-mode__value {
    text-align: right;
    flex: 1;
  }
}

.disabled {
  background-color: var(--bs-border-color);
  color: var(--bs-border-color-translucent);
}

.color-bar {
  height: 2px;
  flex: 4;
}

