:host {
  display: block;
}

.spending-stat-card {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  height: 50px;
  padding: 10px;

  &--icon {
    border-radius: 50%;
    padding: 4px;
  }

  &--compare-mode {
    height: 100%;
  }

  &--color {
    width: 24px;
    height: 24px;
    align-self: center;
    border-radius: 5px;
  }

  &--category {
    display: flex;
    align-items: center;
  }

  &--btn {
    display: flex;
    align-items: center;
  }

  &--category p {
    margin-left: 10px;
  }

  &--value p {
    margin-right: 10px;
  }
}

.spending-stat-card-value {
  display: flex;

  &--compare-range {
    font-size: 17px;
    align-self: center;
    margin-right: 15px;
  }
}

.disabled {
  background-color: var(--bs-border-color);
  color: var(--bs-border-color-translucent);
}
