
<div class="spending-stat-card" [ngClass]="{
        'disabled': !isVisible,
        'spending-stat-card--compare-mode': isCompareMode
}">
    <div class="spending-stat-card--category" (click)="onClickCard()">
        <div class="spending-stat-card--icon" [ngStyle]='{ "background-color": _data.category.color }'>
            <pgz-icon [name]="_data.category.icon"></pgz-icon>
        </div>
        
        <p>{{_data.category.title}}</p>
    </div>

    @if(isCompareMode) {
        <div class="spending-stat-card-value">
            
            
            <div class="mx-2">
                <div class="d-flex justify-content-between">
                    <p class="spending-stat-card-value--compare-range">{{startRange.format('DD MMM YYYY')}}</p>
                    <p>{{_data.value}}</p>
                </div>

                <div class="d-flex justify-content-between">
                    <p class="spending-stat-card-value--compare-range">{{startCompareRange.format('DD MMM YYYY')}}</p>
                    <p>{{_compareData.value}}</p>
                </div>
            
            </div>
            
        </div>
    } @else {
        <p style="margin-left: auto;">{{_data.value}}<span  style="margin-left: 4px;">$</span></p>
    }

    <button class="spending-stat-card--btn btn" (click)="onToggleCategory()">
        <pgz-icon [name]="'custom_arrow-in'"></pgz-icon>
    </button>
</div>