:host {
  display: block;
}

.spending-stat-card {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  height: 50px;
  border: 1px solid var(--bs-gray);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;

  &--compare-mode {
    height: 100%;
  }

  &--color {
    width: 20px;
  }

  &--category {
    display: flex;
    align-items: center;
  }

  &--category p {
    margin-left: 10px;
  }

  &--value p {
    margin-right: 10px;
  }
}

.spending-stat-card-value {
  display: flex;
  margin-left: auto;

  &--compare-range {
    font-size: 17px;
    align-self: center;
    margin-right: 15px;
  }
}

.disabled {
  background-color: var(--bs-border-color);
  color: var(--bs-border-color-translucent);
}
