<main class="total-card">
    <div class="total-card-header--btn" (click)="routeToStatisticPage()">
        <pgz-icon [name]="'custom_statistic'"></pgz-icon>
    </div>
    <div class="total-card-header" [class.total-card-header--full]="monthlyBudget > 0">
        <div class="total-card-header--info">
            <p class="montserrat">Spent</p>
            <p class="total-card-header--val">
                @if(spentByMonth > 0) {
                    -
                }
                {{ spentByMonth | moneyFormat}}$
            </p>
        </div>
        
    </div>
    
    @if(isMonthlyBudgetEnabled) {
        <div class="total-card-budget">
            <div style="margin-left: auto;" [routerLink]="'/profile/monthly-budget'"><pgz-icon [name]="'custom_settings'"></pgz-icon></div>
            <div>
                <mat-progress-bar
                    [mode]="'determinate'"
                    [value]="(spentByMonth/monthlyBudget)*100"
                    [color]="'primary'">
                </mat-progress-bar>
            </div>
            <div class="total-card-budget--info">
                <p>Monthly budget</p>
                <p class="total-card-budget--info-val">{{ monthlyBudget }}</p>
            </div>
        </div>
    }
</main>