<div class="asset card-mobile row">
    <div class="asset--title col-6">
        <!-- @if(asset.icon) {
            <img [src]="asset.icon" class="card-icon" alt="icon-company">
        } @else {
            <img src="assets/icons/company.svg" class="card-icon" alt="icon-company">
        } -->
        
        <div class="asset--name">
            <p class="company-primary-info">{{ asset.name }}</p>
        </div>
    </div>

    <div class="asset--info col-6 text-end">
        <p class="company-primary-info">{{ asset.price }}$</p>
        
        <p style="font-size: 12px;">Div.income/year 0.51%</p>
    </div>
    <!-- <div class="d-flex col-1">
        <button class="dots--button">
            <img src="assets/icons/dots.svg" 
                 class="dots--icon">
        </button>
    </div> -->
</div>
