:host {
  display: block;
}

.circle {
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid #6F6F6F;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  position: absolute;
}

.plus.horizontal {
  width: 20px;
  height: 1px; 
}

.plus.vertical {
  width: 1px; 
  height: 20px;
}
