.total-info {
    .label {
        align-self: center;
        margin: 20px;
    }

    &--primary {
        display: flex;
        justify-content: space-between;
        margin: 0px 30px 0px 20px;
    }

    &-riskness {
        padding-top: 10px;
        border: 1px solid var(--accept-color);
        border-radius: 5px;

        &--row {
            display: flex;
            justify-content: space-between;
            margin: 0px 15px 0px 15px;
        }
    }
}
