<section class="total-info">

    <app-donat-chart [portfolio]="portfolio">
    </app-donat-chart>

    <div class="fs-6">
        <div class="total-info--primary">
            <p>Total contribution: </p>
            <p>{{ portfolio?.contribution }}$</p>
        </div>
    
        <div class="total-info--primary">
            <p>Total profit: </p>
            <p>{{ portfolio?.profit }}$</p>
        </div>
        <div class="total-info--primary">
            <p>Reskness of portfolio:</p>
        </div>
    
    </div>
    
    <div class="pt-0 ps-3 pb-3 pe-3">
        <div class="total-info-riskness">
            <div class="total-info-riskness--row">
                <div>
                    <p>Variance & Standard deviation: </p>
                </div>
                <div>
                    <p>1.2</p>
                </div>
            </div>
    
            <div class="total-info-riskness--row">
                <div>
                    <p>Reskness by betta:</p>
                </div>
                <div>
                    <p>1.1</p>
                </div>
            </div>
    
            <div class="total-info-riskness--row">
                <div>
                    <p>Value at Risk (VaR):</p>
                </div>
                <div>
                    <p>0.96</p>
                </div>
    
            </div>
            <div class="total-info-riskness--row">
                <div>
                    <p>Risk-Reward Ratio:</p>
                </div>
                <div>
                    <p>1.02</p>
                </div>
    
            </div>
        </div>
    </div>

</section>
