<section class="card">
    <div>
        <img src="assets/img/chip-tarjeta.png" class="chip">
        <div>
            <div class="grupo">
                <p class="numero important-info"> 5455 1234 5691 0912
                </p>
            </div>
            <div class="card-info">
                <div class="card-info--part">
                    <p class="label">Card Holder</p>
                    <p class="important-info"> Jhon Doe
                    </p>
                </div>
                <div class="card-info--part">
                    <p class="label">Expiración</p>
                    <p class="important-info"><span> 02 </span>/<span id="year"> 22 </span></p>
                </div>
            </div>
        </div>
    </div>
</section>
