.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 14px;
    pointer-events: none; 
    display: none; 
  }

  .test {
    background: #48653c;
    background: #b8784e;
  }
  