<mat-form-field class="w-100">
  <mat-label>Assets</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
  } 
</mat-form-field>

<div style="display: flex; justify-content: space-between;">
  <div class="d-flex">
      <mat-icon>tune</mat-icon>
      <p style="margin: 0 0 0 5px;">1012 psc.</p>
  </div>
  <div>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange()">
      @for(key of moverFilters.keys(); track key) {
        <option [value]="moverFilters.get(key)">{{ key }}</option>
      }
    </select>
  </div>
</div>
<div style="height: 45vh; overflow-y: scroll; overflow-x: hidden;">
    @for(asset of companies; track asset; let i = $index) {
        <!-- <pgz-stock-asset [isSelected]="i === selectedAssetIndex" [asset]="asset" (click)="onChoiseAsset(asset, i)"></pgz-stock-asset> -->
    }
</div>