<section>

    <div class="d-flex">
        <p>{{ startDateCtrl.value | dateFormat:'DD MMMM YY' }} - {{ endDateCtrl.value | dateFormat:'DD MMMM YY' }}</p>

        <button 
    [ngClass]="{'active': selectedRange === 'month'}" 
    (click)="changeToCurrentMonthRange()">Cur month</button>
    
  <button 
    [ngClass]="{'active': selectedRange === 'half-year'}" 
    (click)="changeToHalfYearRange()">Half year</button>
    
  <button 
    [ngClass]="{'active': selectedRange === 'year'}" 
    (click)="changeToYearRange()">Year</button>
    
  <button 
    [ngClass]="{'active': selectedRange === 'all'}" 
    (click)="changeToAllTimeRange()">All</button>
    </div>

    <pgz-pie-chart class="center" [data]="pieChartData" [showNames]="false"></pgz-pie-chart>
</section>