:host {
  display: block;
}

.range-controller {
  display: flex;
  flex-direction: column;

  &--btns {
    display: flex;
    height: 60px;
  }
}

.range-controller p {
  text-align: center;
  font-size: 1.3rem;
}

.range-controller button {
  padding: 6px;
  height: max-content;
}
