:host {
  display: block;
  height: 60px;
  background: var(--linear-blue, linear-gradient(90deg, #568CAE 0%, #9DBCD0 100%));
}

.route {
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  color: #fff;

  &--icon {
    position: absolute;
    left: 0;
  }

  &--title {
    flex: 1;
    text-align: center;
  }
}

.route p {
  font-size: 16px;
}
