<div class='circle-container'>
  <a href='#' class='center'><img class="img" src="assets/expend/house.svg"></a>
  <a href='#' class='deg2'><img class="img" src="assets/expend/pet.svg"></a>
  <a href='#' class='deg3'><img class="img" src="assets/expend/car.svg"></a>
  <a href='#' class='deg4'><img class="img" src="assets/expend/clothes.svg"></a>
  <a href='#' class='deg5'><img class="img" src="assets/expend/drink.svg"></a>
  <a href='#' class='deg6'><img class="img" src="assets/expend/gift.svg"></a>
  <a href='#' class='deg1'><img class="img" src="assets/expend/health.svg"></a>
  <a href='#' class='deg7'><img class="img" src="assets/expend/food.svg"></a>
  <a href='#' class='deg8'><img class="img" src="assets/expend/house.svg"></a>
</div>