@media only screen and (max-width: 390px) {
    .up-left {
        position: relative;
        top: 10%;
        left: 5%;
    }

    .up-right {
        position: relative;
        top: 10%;
        left: 65%;
    }

    .down-left {
        position: relative;
        top: 90%;
        left: -20%;
    }

    .down-right {
        position: relative;
        top: 90%;
        left: 40%;
    }

    img {
        width: 50px;
        // border-radius: 50%;
        // color: #ffffff;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        height: 84vh;
    }

    .add-buttons {
        font-size: 18px;
        background-color: inherit;
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        &--icon {
            width: 120px;
            height: 120px;
            margin: 0px 20px 20px 20px;
            border-radius: 50%;
            border: none;
        }
    }
}

#income {
    background-color: var(--accept-color);
}

#expend {
    background-color: var(--decline-color);
}
