<div class="info-container">
    <div style="position: relative;
    top: -3%;">

        <img src="assets/income/salary.svg" style="position: relative;
        top: 23%;
        left: 8%;">
        <img src="assets/income/passive.svg" style="position: relative;
        top: 10%;
        left: 16%;">
        <img src="assets/income/piggy.svg" style="position: relative;
        top: 10%;
        left: 33%;">
        <img src="assets/income/bonus.svg" style="position: relative;
        top: 25%;
        left: 39%;">
        <app-donat-chart-v2 [portfolio]="incomeMock" style="display: block; width: 250px; margin: auto;"
            [color]="'#26a69a'"></app-donat-chart-v2>
    </div>

    <div style="position: relative;
    top: -15%;">
        <img src="assets/expend/house.svg" style="position: relative;
        top: 42%;
        left: 6%;">
        <img src="assets/expend/pet.svg" style="position: relative;
        top: 27%;
        left: 4%;">
        <img src="assets/expend/car.svg" style="position: relative;
        top: 18%;
        left: 10%;">
        <img src="assets/expend/clothes.svg" style="position: relative;
        top: 18%;
        left: 15%;">
        <img src="assets/expend/drink.svg" style="position: relative;
        top: 27%;
        left: 19%;">
        <img src="assets/expend/gift.svg" style="position: relative;
        top: 44%;
        left: 17%;">
        <img src="assets/expend/health.svg" style="position: relative;
        top: 65%;
        left: 4%;">
        <img src="assets/expend/food.svg" style="position: relative;
        top: 50%;
        left: 4%;">

        <app-donat-chart-v2 [portfolio]="expendMock" style="display: block; width: 250px; margin: auto;"
            [color]="'#db2d3e'"></app-donat-chart-v2>
    </div>

    <div class="add-buttons" style="position: relative;
    top: -19%;">
        <button (click)="openBudgetTracker()" class="add-buttons--icon" id="expend">
            Витрата
        </button>

        <button (click)="openBudgetTracker()" class="add-buttons--icon" id="income">
            Дохід
        </button>
    </div>

</div>
