<mat-sidenav-container>
  <!-- Отдельній компонент (app-side-nav-header) -->
  <mat-sidenav mode="side" 
               opened="{{ isSidenavOpened }}" 
               class="sidenav-container">

    <p>Markets:</p>
    <mat-list>
      <mat-list-item *ngFor="let itemMarket of menuItemsMarkets" 
                     role="listitem"
                     routerLinkActive="active">
        <a routerLink={{itemMarket.link}}>
          {{ itemMarket.title }}
        </a>
      </mat-list-item>
    </mat-list>

    <p>Account:</p>
    <mat-list>
      <mat-list-item *ngFor="let itemPortfolio of menuItemsPortfolio" 
                     role="listitem"
                     routerLinkActive="active">
        <a routerLink={{itemPortfolio.link}}>
          {{ itemPortfolio.title }}
        </a>
      </mat-list-item>
    </mat-list>

    <button mat-icon-button class="center-button--left" 
            aria-label="expand row" 
            (click)="switchToggleSidenav()">
      <mat-icon *ngIf="isSidenavOpened">keyboard_arrow_left</mat-icon>
      
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button class="center-button--right" 
            aria-label="expand row" 
            (click)="switchToggleSidenav()">
      <mat-icon *ngIf="!isSidenavOpened">keyboard_arrow_right</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
