<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" class="sidenav-container">
    <p>Markets:</p>
    <ul>
      <li *ngFor="let itemMarket of menuItemsMarkets">
        <a routerLink={{itemMarket.link}} class="mr-10">{{ itemMarket.title }}</a>
      </li>
    </ul>

    <p>Account:</p>
    <ul>
      <li *ngFor="let itemPortfolio of menuItemsPortfolio">
        <a routerLink={{itemPortfolio.link}} class="mr-10">{{ itemPortfolio.title }}</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
