<div class="category-card">
    <div class="category-card-parent">
        <div class="category-card-parent--category">
            <pgz-icon class="category-icon" [name]="data.category.icon"></pgz-icon>
            <p>{{data.category.title}}</p>
        </div>
        <div class="category-card--info">
            <p>{{data.value}}</p>

            @if(data.category.title !== 'Other') {
                <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
                <mat-menu #actionsMenu>
                    <mat-icon (click)="onEdit(data.category)">edit</mat-icon>
                    <mat-icon (click)="onDelete(data.category)">delete</mat-icon>
                </mat-menu>
            }
        </div>
    </div>
    @if(dataChildrens && dataChildrens.length > 0) {
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Subcategories: {{dataChildrens.length}}
        </mat-panel-title>
        </mat-expansion-panel-header>
            <div class="category-card-childrens">
                @for(children of dataChildrens; track children) {
                    <div class="category-card-childrens--item">
                        <div class="category-card-childrens--category">
                            <pgz-icon class="category-icon" [name]="children.category.icon"></pgz-icon>
                            <p>{{children.category.title}}</p>
                        </div>
                        <div class="category-card--info">
                            <p class="category-card-childrens--value">{{children.value}}</p>
                            <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
                            <mat-menu #actionsMenu>
                                <mat-icon (click)="onEdit(children.category)">edit</mat-icon>
                                <mat-icon (click)="onDelete(children.category)">delete</mat-icon>
                            </mat-menu>
                        </div>
                    </div>
                }
            </div>
        </mat-expansion-panel>
    }
</div>