<div class="category-card">
    <div class="category-card-parent--category">
        <div class="category-card--icon" [ngStyle]='{ "background-color": data.category.color }'>
            <pgz-icon [name]="data.category.icon"></pgz-icon>
        </div>
        <div class="category-card--info">
            <p>{{data.category.title}}</p>
            @if(data.children) {
                <p style="font-size: 14px;">{{data.children.length}} subcategories</p>
            }
        </div>
    </div>

    <div class="category-card-info">
        <p>
            @if(data.value > 0) {
                -
            }
            {{data.value}}
            <span style="margin-left: 4px;">$</span>
        </p>
        @if(data.category.title !== 'Other') {
            <div (click)="onCardClick()">
                <pgz-icon [name]="'custom_arrow-in'"></pgz-icon>
            </div>
        }
    </div>
</div>