:host {
  display: block;
}

.category-card {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;

  &--icon {
    border-radius: 50%;
    padding: 8px;
  }

  &--info {
    display: flex;
    flex-direction: column;
  }
}

.category-card-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;

  &--item {
    margin: 10px 0 10px 10px;
    font-size: 18px;
  }
}

.category-card-parent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 500;
  height: 50px;

  &--category {
    display: flex;
    align-items: center;
  }

  &--category p {
    margin-left: 10px;
  }
}

.category-card-childrens {
  &--size {

  }
  
  &--item {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &--category {
    display: flex;
  }

  &--value {
    margin-left: auto;
  }
}
