:host {
  display: block;
}

.category-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bs-gray-300);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.category-card-info {
  margin-left: auto;
  display: flex;
  align-items: center;

  &--item {
    margin: 10px 0 10px 10px;
    font-size: 18px;
  }
}

.category-card-parent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  height: 50px;

  &--category {
    display: flex;
    align-items: center;
  }

  &--category p {
    margin-left: 10px;
  }
}

.category-card-childrens {
  &--size {

  }
  
  &--item {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &--category {
    display: flex;
  }

  &--value {
    margin-left: auto;
  }
}
