:host {
  display: block;
}

.arrow-container {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 15px;
  height: 15px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

