<main class="scroll-list">

  <div class="spend-stat--date-range">
    <p>{{ startDateCtrl.value | dateFormat:'DD MMMM YY' }} - {{ endDateCtrl.value | dateFormat:'DD MMMM YY' }}</p>
  </div>
  <pgz-donut class="center"
            [data]="donutData"
            [showNames]="true">
  </pgz-donut>
  
  <div class="mat-disable">
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" [formControl]="startDateCtrl" disable>
      <input matEndDate placeholder="End date" [formControl]="endDateCtrl" disable>
    </mat-date-range-input>
  </div>
  <div class="spend-stat--actions">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </div>
</main>
