<p class="title-auth">Change password</p>

<form class="auth-form"
      [formGroup]="form"
      (ngSubmit)="handleSubmit()">

  <mat-form-field class="auth-form--field" appearance="outline">
    <mat-label>{{ 'Password:' }}</mat-label>
    <input [formControl]="passwordCtrl" [type]="passwordHide ? 'password' : 'text'" matInput (blur)="checkPasswordValidity()">
    <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
      <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="auth-form--field" appearance="outline">
    <mat-label>{{ 'Repeat password:' }}</mat-label>
    <input [formControl]="repeatPasswordCtrl" [type]="repeatPasswordHide ? 'password' : 'text'" matInput (blur)="checkPasswordValidity()">
    <button mat-icon-button matSuffix (click)="repeatPasswordHide = !repeatPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="repeatPasswordHide">
      <mat-icon>{{repeatPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div class="auth-form--errors">
    @if(invalidPasswordErrorMessage) {
      <p class="auth-form--error">{{ invalidPasswordErrorMessage }}</p>
    }

    @if(passwordCtrl.value.length === 0 || repeatPasswordCtrl.value.length === 0) {
      <p class="auth-form--error">Password can not be empty</p>
    }
  </div>

  <button mat-flat-button
          [disabled]="!isValidityPassword.value"
          type="submit" 
          class="auth-btn--submit"
          [class.auth-btn--submit-enabled]="isValidityPassword.value"
          (click)="handleSubmit()">
    {{ 'Change password' }}
</button>

</form>