<header class="space-between">
    
    <app-donat-chart-v2 [portfolio]="stocksMock" 
                        class="donut"
                        [color]="'#26a69a'">
    </app-donat-chart-v2>

    <app-donat-chart-v2 [portfolio]="profitMock" 
                        class="donut"
                        [color]="'#26a69a'">
    </app-donat-chart-v2>
</header>

<main class="scroll-list">
    <!-- TODO переробить, щоб над кожним списком конкретного типу активу була примітка з назвою (Акації, облігації, ETF) -->
    <div style="display: flex; background-color: var(--stroke-color); padding: 5px;">
        <p>Stocks</p> 
        <p style="margin-left: 5px;">{{ stocks.length }} pcs.</p>
    </div>

    <div *ngFor="let stock of stocks">
        <app-stock-card [stock]="stock">
        </app-stock-card>
        
    </div>
</main>

<footer class="space-between">
   <button class="btn">
        <p>Stock market</p>
   </button>

   <button class="btn">
        <p>Statistic</p>
   </button>
</footer>
