<header class="space-between row">
  <div class="col-6">
    <app-donat-chart
      class="donut"
      [portfolio]="stocksMock"
      [color]="'#26a69a'">
    </app-donat-chart>
  </div>

  <div class="col-6">
    <p>Total contribution: 1500$</p>
    <p>Total profit: 500$</p>
    <p>Yield: 7%</p>
    <p>Riskness of portfolio: Agressive</p>
  </div>
</header>

<app-button-toggle (buttonValue)="onChangeFrame($event)"></app-button-toggle>

<main *ngIf="isPortfolioFrame" class="scroll-list">
  <!-- TODO переробить, щоб над кожним списком конкретного типу активу була примітка з назвою (Акації, облігації, ETF) -->
  <!-- <div style="display: flex; background-color: var(--stroke-color); padding: 5px;">
        <p>Stocks</p> 
        <p style="margin-left: 5px;">{{ stocks.length }} pcs.</p>
    </div> -->

  <div *ngFor="let stock of stocks">
    <app-stock-card [stock]="stock"> </app-stock-card>
  </div>
</main>

<main *ngIf="!isPortfolioFrame" class="scroll-list">
  <!-- TODO переробить, щоб над кожним списком конкретного типу активу була примітка з назвою (Акації, облігації, ETF) -->
  <!-- <div style="display: flex; background-color: var(--stroke-color); padding: 5px;">
        <p>Stocks</p> 
        <p style="margin-left: 5px;">{{ stocks.length }} pcs.</p>
    </div> -->

  <app-bar-chart></app-bar-chart>
</main>
