.header-stock {
    display: flex;
    justify-content: space-between;
}

.scroll-list {
    overflow-y: scroll;
}

.donut {
    display: block;
    margin: auto;
}

.btn {
    background: rgba(38, 166, 153, 0.763);
    border: none;
    margin-top: 5px;
}

.btn p {
    color: var(--black-color);
}