<header class="space-between row">
  <div class="col-6">
    <app-donat-chart
      class="donut"
      [portfolio]="stocksMock"
      [color]="'#26a69a'">
    </app-donat-chart>
  </div>

  <div class="col-6">
    <p>Total contribution: 1500$</p>
    <p>Total profit: 500$</p>
    <p>Yield: 7%</p>
    <p>Riskness of portfolio: Agressive</p>
  </div>
</header>

<app-button-toggle (buttonValue)="onChangeFrame($event)"></app-button-toggle>

<main *ngIf="isPortfolioFrame" class="scroll-list">
  <!-- TODO переробить, щоб над кожним списком конкретного типу активу була примітка з назвою (Акації, облігації, ETF) -->
  <!-- <div style="display: flex; background-color: var(--stroke-color); padding: 5px;">
        <p>Stocks</p> 
        <p style="margin-left: 5px;">{{ stocks.length }} pcs.</p>
    </div> -->

  <div *ngFor="let stock of stocks">
    <app-stock-card [stock]="stock"> </app-stock-card>
  </div>
</main>

<main *ngIf="!isPortfolioFrame" class="scroll-list">
  <!-- TODO переробить, щоб над кожним списком конкретного типу активу була примітка з назвою (Акації, облігації, ETF) -->
  <!-- <div style="display: flex; background-color: var(--stroke-color); padding: 5px;">
        <p>Stocks</p> 
        <p style="margin-left: 5px;">{{ stocks.length }} pcs.</p>
    </div> -->

  <app-bar-chart class="bar"></app-bar-chart>

  <mat-tab-group class="statistic--year">
    <mat-tab *ngFor="let year of years; trackBy: trackYear" [label]="year">
      <ng-container *ngFor="let month of months">
        <!-- Тут можна розмістити вміст для кожного місяця, наприклад: -->
        <!-- <div>{{ month }}</div> -->
        <mat-expansion-panel class="statistic--month" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              
              {{ month }}
            </mat-panel-title>
            <mat-panel-description>
              <div class="icon-wrapper">
              <mat-icon class="icon-wrapper--icon">add</mat-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Some text</p>
      
        </mat-expansion-panel>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  
  
</main>
