.header-stock {
    display: flex;
    justify-content: space-between;
}

.scroll-list {
    overflow-y: scroll;
    max-height: 420px;
}

.donut {
    display: block;
    // width: 250px;
    margin: auto;
}

.btn {
    background: rgba(38, 166, 153, 0.763);
    // opacity: 0.7;
    border: none;
    margin-top: 5px;
}

.btn p {
    color: var(--black-color);
}