:host {
  display: block;
}

.asa {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.asa__field {
  width: 100%;
}

.asa__currency-name {
  color: var(--pgz-text-secondary);
  font-size: 12px;
}
