:host {
  display: block;
  width: 100%;
}

.dashboard-slider-container {
  overflow: hidden; 
  width: 100%; 
}

.dashboard-slider {
  display: flex;
  transition: transform 0.3s ease-out; 
}

.dashboard {
  flex: 0 0 100%; 
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 6px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #858585;
    transition: background-color 0.3s;

    &.active {
      background-color: #D9D9D9; 
    }
  }
}

