<div [class.page]="currCategory" [class.category-spending]="!currCategory"
    >
    @if(currCategory) {
        <div (click)="prevRoute()">
            <pgz-prev-route>
                <p>{{currCategory.title}}</p>

                <div (click)="onEdit()">
                    <pgz-icon [name]="'custom_edit'"></pgz-icon>
                </div>
            </pgz-prev-route>
        </div>

        @if(currCategory.limit > 0) {
        <section class="category-limit">
            <div class="category-limit--field">
                <p>Limit</p>
                <p>{{ currCategory.limit }}</p>
            </div>

            <div class="category-limit--field">
                <p>Use</p>
                <p>{{ spendByCategory }}</p>
            </div>
        </section>
        }
    } 

    <div [class.margin-inline]="currCategory">
        <div class="add-category" (click)="addCategory()">
            <pgz-add-btn></pgz-add-btn>
            Add category
        </div>

        @for(category of spendingCategories; track category) {
            <div (click)="onCategoryClick(category)">
                <pgz-category-spending-card [data]="category"></pgz-category-spending-card>
            </div>
        }
    </div>
</div>
