<div [class.category-spending]="currCategory"
    [class.page]="currCategory">
    @if(currCategory) {
        <div class="category--routing">
            <pgz-prev-route></pgz-prev-route>
            <h2>{{currCategory.title}} statistic</h2>
            <div (click)="onEdit()">
                <pgz-icon [name]="'custom_edit'"></pgz-icon>
            </div>
        </div>

        <section class="category-limit">
            <div class="category-limit--field">
                <p>Limit</p>
                <p>{{ currCategory.limit }}</p>
            </div>

            <div>
                <p>Use</p>
                <p>unknown</p>
            </div>
        </section>
    } 
    <div class="add-category" (click)="addCategory()">
        <pgz-add-btn></pgz-add-btn>
        Add category
    </div>

    @for(category of spendingCategories; track category) {
        <div (click)="onCategoryClick(category)">
            <pgz-category-spending-card [data]="category"></pgz-category-spending-card>
        </div>
    }

    <div style="display: flex; margin-top: 32px; color: red;" (click)="onDeleteCategory()">
        <pgz-icon [name]="'delete'"></pgz-icon>
        <p style="margin-left: 16px;">Delete Category</p>
    </div>
</div>
