:host {
  display: block;
  
}

.category-spending {
  width: 90%;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
}

.category-limit {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 32px 16px;
  padding: 8px;
  background-color: #DAECF8;
  border-radius: 14px;

  &--field {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}

.margin-inline {
  margin-inline: 8px;
}

.category {

  &--routing {
    display: flex;
    justify-content: space-between;
  }
}

.categories-actions {
  margin: 15px 10px 20px 0;
  display: flex;

  &--btn {
    margin-left: auto;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--bs-light);
    background: var(--bs-success);
  }
}
