.head-page {
    display: inline-flex;
    width: 100%;
}

.primary {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.work {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, auto);
    // grid-template-rows: repeat(auto-fill, auto);
    // grid-auto-flow: dense;
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}