:host {
  display: block;
}

.goal {
  margin: 10px;
  border: 1px solid var(--bs-gray-300);
  border-radius: 10px;

  &--text-progress {
    position: absolute; 
    left: 25%; 
    margin: 8px 0 0 0;
  }

  &--row {
    display: flex;
    margin: 10px;
  }

  &--row p {
    font-size: 9px; 
    margin: 0;
  }

  &--row-value {
    margin-left: auto;
  }
}

.active {
  .progress-bar {
    background-color: var(--bs-gray-300);
  }
}

.progress {
  --bs-progress-height: 2.5rem;
  --bs-progress-font-size: 1rem;

  &--icons {
    position: absolute; 
    right: 5%; 
    margin-top: 5px;
  }
}

.progress-bar {
  background-color: var(--bs-warning);
}

.success {
  background-color: var(--bs-success);
}

.in-progress {
  background-color: var(--bs-warning);
}

.completed {
  background-color: var(--bs-gray-500);
}
