<div class="goal">
    <div class="progress">
        <p class="goal--text-progress">{{ goal.name }} (${{ goal.currentSum }} / ${{ goal.finishSum }})</p>
        <div class="progress--icons">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
        </div>
        <div class="progress-bar" 
             [class.success]="goal.status === 'success'" 
             [class.in-progress]="goal.status === 'progress'" 
             [class.completed]="goal.status === 'completed'" 
             role="progressbar" style="width: 25%;" 
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <div class="goal--row">
        <p>Approximate goal achievement date</p>
        <div class="goal--row-value">
            <p>{{ goal.approximateDate }}</p>
        </div>
    </div>
    <div class="goal--row">
        <p>Portfolio share:</p>
        <div class="goal--row-value">
            <p>{{ goal.share }}</p>
        </div>
    </div>
</div>