<div class="goal"
     [class.goal-border--success]="goal.status === 'success'" 
     [class.goal-border--progress]="goal.status === 'progress'">
    <div class="progress">
        <p class="goal--text-progress">{{ goal.name }} (${{ currentSum }} / ${{ goal.finishSum }})</p>
        <div class="progress--icons">
            <mat-icon (click)="onEdit()">edit</mat-icon>
            <mat-icon (click)="onDelete()">delete</mat-icon>
        </div>
        <div class="progress-bar" 
             [class.progress-color--success]="goal.status === 'success'" 
             [class.progress-color--in-progress]="goal.status === 'progress'" 
             [class.progress-color--completed]="goal.status === 'disabled'" 
             role="progressbar" 
             [style.width.%]="(currentSum / goal.finishSum) * 100">
        </div>
    </div>
    <div class="goal--row">
        <p>Approximate goal achievement date</p>
        <div class="goal--row-value">
            <p>{{ goal.approximateDate }}</p>
        </div>
    </div>
    <div class="goal--row">
        <p>Portfolio share:</p>
        <div class="goal--row-value">
            <p>{{ goal.share }}</p>
        </div>
    </div>
</div>