<header class="header-stock">
    
    <app-donat-chart-v2 [portfolio]="stocksMock" style="display: block; width: 250px; margin: auto;"
    [color]="'#26a69a'">
        
    </app-donat-chart-v2>
    <app-donat-chart-v2 [portfolio]="profitMock" style="display: block; width: 250px; margin: auto;"
    [color]="'#26a69a'">
        
    </app-donat-chart-v2>
</header>

<main>
    <div *ngFor="let stock of stocks">
        <div class="stock card-mobile">
            <div class="stock--name">
                <img mat-card-image 
                     class="card-icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Tesla_T_symbol.svg/1200px-Tesla_T_symbol.svg.png"
                     alt="icon-company">
                <div>
                    {{ stock.name }}

                    <p>count: {{ stock.countStocks }}</p>
                </div>
            </div>

            <div class="stock--info">
                <div>
                    <p>{{ stock.buyPrice * stock.countStocks }}$</p>
                    
                </div>
                
                <div>
                    <p>+10%</p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer style="display: flex; justify-content: space-between;">
   <button>
        <p>Stock market</p>
   </button>

   <button>
        <p>Statistic</p>
   </button>
</footer>
