:host {
  display: block;
}

.budget-container {
  margin-top: 32px;
  margin-inline: 16px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.budget-fields {
  margin-top: 16px;

  &--box {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 14px;
    padding: 8px;
  }
}



.budget-fields label {
  display: block;
  margin-bottom: 8px;
}

.budget-fields input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
}


// ****btn toggle
/* Контейнер для перемикача */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Сама кнопка */
.toggle-button input {
  opacity: 0; /* Ховаємо стандартний checkbox */
  width: 0;
  height: 0;
}

/* Фон перемикача */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

/* Коло перемикача */
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Активний стан (ON) */
input:checked + .slider {
  background-color: #8db7e3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}


