<section class="page settings-page">
    <div (click)="prevRoute()">
        <pgz-prev-route>
            <p>Monthly budget</p>
        </pgz-prev-route>
    </div>
    
    <div class="settings-container">
        
        <div class="settings-fields settings-fields--box" style="display: flex; justify-content: space-between;">
            <label class="toggle-text"><span>Місячний бюджет</span></label>
            <label class="toggle-button">
                <input type="checkbox" [ngModel]="isMonthlyBudgetEnabled" (change)="toggleBudget()">
                <span class="slider"></span>
            </label>
        </div>
        
        @if(isMonthlyBudgetEnabled) {
        <div class="settings-fields">
            <pgz-form-input>
                <label>Сума бюджету</label>
                <input matInput type="text" inputmode="numeric" class="line" placeholder="0" [(ngModel)]="monthlyBudget" pgzMoney>
                <span matTextSuffix>$</span>
            </pgz-form-input>
        </div>

        <div class="settings-fields">
            <pgz-form-input>
                <label>Дата оновлення</label>
                <input
                    type="number"
                    [ngModel]="updateDay"
                    placeholder="01"/>
            </pgz-form-input>
        </div>
        }
    </div>
    
    <div class="choise-btn" (click)="save()">
        <pgz-accept-btn [active]="true"></pgz-accept-btn>
    </div>
</section>
