<div (click)="prevRoute()">
    <pgz-prev-route>
        <p>Monthly budget</p>
    </pgz-prev-route>
</div>
<div class="budget-container">
    <label class="toggle-container">
      <span>Місячний бюджет</span>
      <label class="toggle-button">
        <input type="checkbox" [(ngModel)]="isMonthlyBudgetEnabled" (change)="toggleBudget()">
        <span class="slider"></span>
      </label>
      
      <input
        type="checkbox"
        [ngModel]=""
        
      />
    </label>
  
    <div  class="budget-fields">
      <label>
        Сума бюджету
        <input
          type="number"
          [ngModel]="monthlyBudget"
          placeholder="0.00"
          [disabled]="!isMonthlyBudgetEnabled"
        />
      </label>
      <label>
        Дата оновлення
        <input
          type="number"
          [ngModel]="updateDay"
          placeholder="01"
          [disabled]="!isMonthlyBudgetEnabled"
        />
      </label>
    </div>
  </div>
  
