:host {
  display: block;
}

.budget-container {
  margin-top: 32px;
  margin-inline: 16px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.budget-fields {
  margin-top: 16px;

  &--box {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 14px;
    padding: 8px;
  }
}



.budget-fields label {
  display: block;
  margin-bottom: 8px;
}

.budget-fields input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
}





