<div class="info-account">
    <section class="grid-wrapper">
        <div #chartContainer class="info-container chart-info" [class.primary-visible-width]="isPrimaryVisible"
            [class.primary-visible-height]="indexDisplayCtrl.value && isPrimaryVisible">
            <mat-label>Wallet Chart:</mat-label>
            <app-area-chart [width]="width" [height]="height">
            </app-area-chart>
        </div>

        <div class="info-container expanded-table--profit" [class.visible]="profitDisplayCtrl.value">
            <mat-label>Profits:</mat-label>
            <div class="table-assets m-t-10">
                <table mat-table [dataSource]="dataSourceProfit">
                    <ng-container matColumnDef="property">
                        <th mat-header-cell *matHeaderCellDef>Property</th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{ element.property }}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element" class="text-right">{{ element.value }}</td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div class="info-container expanded-table--calculator" [class.visible]="calculatorDisplayCtrl.value">
            <mat-label>Calculator:</mat-label>
            <div class="table-assets m-t-10">
                <table mat-table [dataSource]="dataSourceCalculator">
                    <ng-container matColumnDef="property">
                        <th mat-header-cell *matHeaderCellDef>Property</th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{ element.property }}</td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element" class="text-right">{{ element.value }}</td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>


        <div class="info-container indexes-grid-element" [class.visible]="indexDisplayCtrl.value">
            <mat-label>Index info:</mat-label>
            <div class="index-info">

                <div class="index-card">
                    <div class="index-card--title">
                        <h2>Index S&P500</h2>

                        <div class="index-card--content">
                            <p style="color: blue">4536.34</p>
                            <p style="color: green">0.03%</p>
                        </div>
                    </div>
                </div>

                <div class="index-card">
                    <div class="index-card--title">
                        <h2>Index NASDAQ</h2>

                        <div class="index-card--content">
                            <p style="color: blue">4536.34</p>
                            <p style="color: green">0.03%</p>
                        </div>
                    </div>
                </div>

                <div class="index-card">
                    <div class="index-card--title">
                        <h2>Index Dow Jones</h2>
                        <div class="index-card--content">
                            <p style="color: blue">4536.34</p>
                            <p style="color: green">0.03%</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <div class="info-container total-info">
        <div class="flex sp-bw">
            <div style=" align-self: center;">
                <mat-label>Wallet info:</mat-label>
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="settings">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu" [formGroup]="toppings">
                    <h3>Display blocks</h3>
                    <mat-checkbox formControlName="indexDisplayCtrl">Index</mat-checkbox>
                    <mat-checkbox formControlName="calculatorDisplayCtrl">Calculator</mat-checkbox>
                    <mat-checkbox formControlName="profitDisplayCtrl">Profit</mat-checkbox>
                </mat-menu>
            </div>
        </div>
        <div>
            <app-donat-chart>
            </app-donat-chart>
        </div>

    </div>
</div>