.calendar {
    &--day {
        font-size: 14px;
    }
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    td,
    th {
        border: 1px solid #000;
    }

    td {
        // height: 50px;
        text-align: center;
        transition: all .2s;

        &.disabled {
            opacity: .5;
        }

        &:hover:not(.disabled) {
            background: #eee;
            cursor: pointer;
        }

    }

    .active {
        color: var(--primary-color);

    }

    .selected {
        background: #eee;
        color: blue;
    }
}

.date {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.day-info {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: end;

    p {

        margin: 0;
    }
}

.enter {
    height: 110px;
    display: flex;
    flex-direction: column;
}

.small-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accept-color);
    height: 70px;
}
