<!-- <div class="slider-portfolio">
    <div *ngFor="let portfolio of portfolios; let i = index" 
         [ngClass]="{
                'back-portfolio': i === currentPortfolio - 1 || i === currentPortfolio + 1,
                'front-portfolio': i === currentPortfolio,
              }">

        <div class="portfolio" [class.active]="i < 3" (click)="changePortfolio(i)">
            <app-total-info-card  [portfolio]="portfolio">
            </app-total-info-card>
        </div>
    </div>
</div> -->
<app-carousel
        [items]="portfolios" 
        [start]="currentPortfolio">
    </app-carousel>