<div *ngFor="let portfolio of portfolios">
    <div class="total-info-carousel-element" 
         [class.active-element]="portfolio.isActive">

        <app-total-info-card [portfolio]="portfolio">
        </app-total-info-card>

    </div>
</div>


<div class="d-flex flex-column  mx-4 mb-3">
    <mat-form-field>
        <mat-label>Account:</mat-label>
        <mat-select (selectionChange)="changePortfolio($event.value)" 
                    [value]="activePortfolio?.accountID">
            <mat-option *ngFor="let portfolio of portfolios" 
                        [value]="portfolio.accountID">
                {{ portfolio.accountName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button type="button" mat-button class="deposit-btn align-self-center">
        Deposit account
    </button>
</div>