::ng-deep .tab-expanded {
    background: var(--black-color);

    .mat-mdc-tab.mdc-tab {
        justify-content: center;
        height: 35px;
    }

    .mat-mdc-tab-labels .mdc-tab {
        width: 150px;
    }
}

.example-card {
    max-width: 100px;
}

.card-company {
    background: var(--dark-color);
    border-radius: 10px;
    width: 300px;

    table {
        width: 100%;

        td {
            border-bottom: 10px;
        }

        td:not(:first-child) {
            text-align: right;
        }
    }

    #static-text {
        color: var(--accept-color);
    }
}

.overview-info {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    height: 190px;

    hr {
        border-color: var(--accept-color);
    }

    .mat-mdc-card-title {
        color: var(--accept-color);
    }
}

.transaction-info {
    height: 210px;
    padding: 0px 20px 20px 20px;
    text-align: center;

    &--header {
        position: sticky;
        top: 0;
        background: var(--black-color);
    }

    .mdc-data-table__cell {
        text-align: center;
    }

    .mdc-data-table__row:last-child .mat-mdc-cell {
        border-bottom: 10px solid var(--black-color);
    }
}