<h1>{{ 'Restore password' }}</h1>
<ng-container *ngIf="!isEmailSent; else tryLoginTpl">
  <p>{{ 'Enter your email to restore password' }}</p>
  <mat-form-field class="forget-control">
    <mat-label>Email:</mat-label>
    <input matInput [formControl]="emailCtrl">
  </mat-form-field>
  <button mat-flat-button
          class="forget-control"
          [disabled]="emailCtrl.invalid"
          (click)="sendEmailToRestorePassword()">
    {{ 'Send' }}
  </button>
</ng-container>

<ng-template #tryLoginTpl>
  <p>{{ 'We sent new password on your email. Please, check it and try to login again' }}</p>
  <button mat-flat-button
          class="forget-control"
          [routerLink]="'/auth'">
    {{ 'Log In' }}
  </button>
</ng-template>
