<main class="spending-statistic">

  @if(currCategory) {
    <pgz-prev-route></pgz-prev-route>
    <h2>{{currCategory.title}} statistic</h2>
  }@else {

    <div class="spending-statistic--prev" [routerLink]="['/spending']">
      <pgz-arrow-back></pgz-arrow-back>
      <h2>Statistic</h2>
    </div>
    
  }
  
  <div class="chart-container--chart">

    <pgz-toggle-switch style="margin-top: 18px;" [checked]="'multiline'" [unchecked]="'pie'" (buttonValue)="chartTypeChange($event)"></pgz-toggle-switch>

    <pgz-range-controller style="margin-top: 18px;" (isCompareEnabled)="toogleCompare()" (rangeChange)="onRangeChange($event)"></pgz-range-controller>

    <div class="chart-container--chart">
      @if(chartTypeCtrl === 'pie') { 
        <div>
          <pgz-pie-chart-container 
            [categoryData]="categoryStatisticForPieChart" 
            [isCompareEnabled]="isCompareEnabled" 
            [compareCategoryData]="getCompareCategoryStatisticForPieChart()"
          ></pgz-pie-chart-container>
        </div>
      }

      @if(chartTypeCtrl === 'multiline') {
        <pgz-multi-line-chart-container 
          [activeCategories]="categoryStatisticForPeriod" 
          [isCompareEnabled]="isCompareEnabled"
          [spendings]="spendingsForMultiLineChart"
          [compareSpendings]="compareSpendingsForMultiLineChart"
          [startRange]="formRange.value.startDate"
          [startCompareRange]="formRange.value.compareStartDate"
          (chartColors)="chartsColors($event)"
        ></pgz-multi-line-chart-container>
      }
    </div>
  </div>

  <pgz-filter-wrapper 
    [items]="categoriesForFilter"
    [selectedIds]="selectedCategoriesSet"
    (selectedIdsChange)="updateDisabledCategories($event)"
    [contentTemplate]="statisticTemplate">
  </pgz-filter-wrapper>

  <ng-template #statisticTemplate>
    <section>
      @for(data of categoryStatisticForPeriod; let i = $index; track data) {
        <pgz-spending-statistic-card 
          [data]="data"
          [compareData]="getCompareDataForCard(data.category.id)"
          [isCompareMode]="isCompareEnabled"
          [startRange]="formRange.value.startDate"
          [startCompareRange]="formRange.value.compareStartDate"
          [isVisible]="isVisibleCategory(data.category.id)" 
          [chartsColors]="chartsColorsForCompare"
          (clickCard)="onCardClick($event)" >
        </pgz-spending-statistic-card>
    } @empty {
      <p style="text-align: center;">You don't have any spendings</p>
    }
    </section>
  </ng-template>

</main>
