<div class="asset card-mobile row">
    <div class="asset--title col-6">
        <!-- @if(asset.icon) {
            <img [src]="asset.icon" class="card-icon" alt="icon-company">
        } @else {
            <img src="assets/icons/company.svg" class="card-icon" alt="icon-company">
        } -->
        
        <div class="asset--name">
            <p class="company-primary-info">{{ asset.name }}</p>
            @if(asset.count > 0) {
                <p class="asset--count">{{ asset.count }}pcs.</p>
            }
            
        </div>
    </div>

    <div class="asset--info col-6 text-end">
        <p class="company-primary-info">{{ asset.price }}$</p>
        
        <p style="font-size: 12px;">{{ asset.assetType }}</p>
    </div>
</div>
