<div class="icon-select">
    <pgz-icon (click)="showPicker()" class="icon-select--icon" [name]="'edit'"></pgz-icon>
    @if(showIconPicker) {
        <div id="icon-picker" class="icon-picker">
            <div class="icon-picker--search">
                <mat-form-field class="w-100">
                    <input type="text" matInput placeholder="Type to search" [formControl]="filterCtrl">
                    @if(filterCtrl.value.length === 0) {
                        <mat-icon matSuffix>search</mat-icon>
                    }

                    @if(filterCtrl.value.length > 0) {
                        <mat-icon matSuffix (click)="clearFilter()">close</mat-icon>
                    }
                  </mat-form-field>
            </div>
            <div class="icon-picker--icons">
                @for(icon of filteredIcons; track icon) {
                    <pgz-icon class="icon-picker--item" [name]="icon" (click)="selectIcon(icon)"></pgz-icon>
                }
            </div>
        </div>
    }
</div>
