<div class="spending">
  <pgz-progress [progress]="38" [height]="30" [text]="'House'"></pgz-progress>
  <pgz-total-balance [balance]="expends.money"></pgz-total-balance>

  <pgz-button-toggle
      class="frame-btn"
      [dataUnchecked]="'Spendings'"
      [dataChecked]="'History'"
      (buttonValue)="onChangeFrame($event)">
  </pgz-button-toggle>

  <!-- <input type="number" inputmode="numeric"> -->

  @if(isSpendingsFrame) {
    <pgz-period-spending [expends]="expends"></pgz-period-spending>
  } @else {
    <pgz-history-spending [spendings]="historySpending"></pgz-history-spending>
  }

  <button mat-flat-button class="spending-btn" (click)="addSpending()">{{ 'Add spending' }}</button>
</div>
