:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.spending {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}

.frame-btn {
    margin-bottom: 30px;
}
