<div class="spending">
  <pgz-total-balance-spending></pgz-total-balance-spending>

  <pgz-button-toggle
      class="frame-btn"
      [dataUnchecked]="'Spendings'"
      [dataChecked]="'History'"
      (buttonValue)="onChangeFrame($event)">
  </pgz-button-toggle>

  @if(isSpendingsFrame) {
    <pgz-period-spending [expends]="expends"></pgz-period-spending>
  } @else {
    <pgz-history-spending></pgz-history-spending>
  }
  
</div>
<button mat-flat-button class="add-btn" [routerLink]="['add']">{{ 'Add' }}</button>
