.spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

.spending-btn {
    margin-top: 80px;
    width: 90%;
    align-self: center;
    background-color: #edb03b !important;
}

.frame-btn {
    margin-bottom: 30px;
}
