:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.forget-text {
  font-size: 16px;
}

.forget-control {
  margin-top: auto;
  margin-bottom: 50px;
  width: 100%;
  height: 50px;

  &--send-enabled {
    background-color: var(--bs-success) !important;
    color: var(--bs-white) !important;
  }
}

