<section class="forget-form">
  <p class="auth-subtitle">Password recovery</p>

  <section class="auth-card">
    <form class="auth-form">
      <mat-form-field class="auth-form--field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="emailCtrl">
      </mat-form-field>
    </form>
  </section>

  <button mat-flat-button
          type="submit"
          class="pgz-btn auth-btn--submit montserrat"
          [class.pgz-btn--submit-enabled]="!emailCtrl.invalid"
          [class.pgz-btn--submit-disabled]="emailCtrl.invalid"
          (click)="sendEmailToRestorePassword()">Send recovery code</button>

  <p class="auth-footer-link">
    Remember it?
    <a [routerLink]="'../login'">Login</a>
  </p>
</section>
