<p class="title-auth">Password recovery</p>

<ng-container>
  <div>
    <p class="forget-text">{{ 'Enter your email:' }}</p>
    <mat-form-field class="forget-control" appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput [formControl]="emailCtrl">
    </mat-form-field>
  </div>
  <div class="auth-out-from">
    <button mat-flat-button
            type="submit" class="auth-btn--submit montserrat" 
            [class.auth-btn--submit-enabled]="!emailCtrl.invalid"
            [class.auth-btn--submit-disabled]="emailCtrl.invalid"
            (click)="sendEmailToRestorePassword()">
      {{ 'Send' }}
    </button>
  </div>
</ng-container>

