<p class="title-auth">Forget password</p>

<ng-container>
  <div>
    <p class="forget-text">{{ 'Enter your email:' }}</p>
    <mat-form-field class="forget-control" appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput [formControl]="emailCtrl">
    </mat-form-field>
  </div>
  <button mat-flat-button
          class="auth-btn"
          [class.auth-btn--submit-enabled]="!emailCtrl.invalid"
          [disabled]="emailCtrl.invalid"
          (click)="sendEmailToRestorePassword()">
    {{ 'Send' }}
  </button>
</ng-container>

