:host {
  display: block;
}

.total-balance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.sum {
  display: flex;
  justify-content: center;
  font-size: 52px;
  margin: 10px;
  color: var(--accept-color);
}
