@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html,
body {
    background-color: rgb(16, 16, 16);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .mat-drawer-container {
        background-color: rgb(16, 16, 16);
    }

    mat-label {
        font-size: 16px;
    }
}

:root {
    --primary-color: #dc3545;
    --dark-color: rgb(30, 30, 32);
    --black-color: rgb(16, 16, 16);
    --light-color: #f4f4f4;
    --light-color-100: #c0bab5da;
    --accept-color: #26a69a;
    --decline-color: #db2d3e;
    --stroke-color: #9bc8e235;
    --stroke-color-50: #aabbc51d;
}

ul {
    list-style: none;
}

.page-container {
    display: flex;
    justify-content: center;
    background: var(--dark-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

.info-container {
    display: inline-block;
    font-size: small;
    margin: 10px;
    padding: 20px;
    box-shadow: -5px 5px 10px -5px rgb(16, 16, 16);
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
    color: var(--light-color);
}

.table-assets {
    font-size: small;
    padding: 0px 10px 0px 10px;

    th,
    td:not(:first-child) {
        text-align: center;
    }

    .mat-mdc-header-row,
    .mat-mdc-row {
        color: var(--light-color);
    }

    .mat-mdc-table {
        background: var(--black-color);
    }

    table {
        tr {
            height: 50px;
        
            td {
                font-size: 12px;
            }
        }
        
        thead {

            tr {
                border-bottom: rgb(16, 16, 16) solid 10px;
            }
        }

        tbody {
            height: auto;

            tr {
                border-radius: 10px;
                background-color: rgb(30, 30, 32);
            }

            td {
                border-bottom: var(--black-color) solid 10px;
            }
        }
    }

    p {
        font-size: medium;
    }

    a {
        text-decoration: none;
        color: rgb(249, 250, 254);
    }

    .mdc-data-table__row:last-child .mat-mdc-cell {
        border-bottom: 10px solid var(--black-color);
    }
}

.btn-confirm {
    background: var(--accept-color) !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.scroll {
    overflow: scroll;
}
