
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pegazzo-client-primary: mat.define-palette(mat.$indigo-palette);
$pegazzo-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pegazzo-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pegazzo-client-theme: mat.define-light-theme((
  color: (
    primary: $pegazzo-client-primary,
    accent: $pegazzo-client-accent,
    warn: $pegazzo-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pegazzo-client-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: #eee3e3;
  --primary-color: #dc3545;
  --dark-color: rgb(30, 30, 32);
  --black-color: rgb(16, 16, 16);
  --light-color: #f4f4f4;
  --light-color-100: #c0bab5;
  --accept-color: rgba(38, 166, 153, 0.763);
  --decline-color: #db2d3eb5;
  --stroke-color: #9bc8e235;
  --stroke-color-50: #aabbc51d;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
