:host {
  display: block;
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
}
.close-button-option {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.close-button-container {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: white; 
  border-top: 1px solid #e0e0e0; 
  display: flex; 
}

.close-button {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  background-color: var(--bs-gray-200);
}

.spendings-history {
  padding: 8px; 
  height: 100%;

  &--filters {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  &--filters p {
    font-size: 18px;
  }

  &--calendar {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    text-decoration: none;
    color: black;
  }

  &--list {
    text-align: center;
  }

  &--list-item {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
  }

  .calendar-btn {
    display: flex;
    align-items: center;
    color: var(--accept-color);
    border: none;
    background: inherit;
  }
}
