<section>
    <!-- <div class="range-controller">

        <div (click)="toogleCompare()">
            <mat-checkbox class="example-margin">Compare</mat-checkbox>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-date-range-input
              [formGroup]="formRangeDate"
              [rangePicker]="campaignOnePicker"
              [comparisonStart]="formRangeDate.value.startDate"
              [comparisonEnd]="formRangeDate.value.endDate">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>

        @if(isCompareEnabled) {
            <mat-form-field appearance="outline" class="w-100">
                <mat-date-range-input
                  [formGroup]="formRangeCompareDate"
                  [rangePicker]="campaignOTwoPicker"
                  [comparisonStart]="formRangeCompareDate.value.startDate"
                  [comparisonEnd]="formRangeCompareDate.value.endDate">
                  <input matStartDate placeholder="Start date" formControlName="startCompareDate">
                  <input matEndDate placeholder="End date" formControlName="endCompareDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOTwoPicker></mat-date-range-picker>
            </mat-form-field>
        }
        <div class="range-controller--btns">

            <button 
                class="btn" 
                [ngClass]="{'active': selectedRange === 'year'}" 
                [disabled]="selectedRange === 'year'"
                (click)="changeToYearRange()">Year</button>

            <button 
                class="btn" 
                [ngClass]="{'active': selectedRange === 'all'}" 
                [disabled]="selectedRange === 'all'"
                (click)="changeToAllTimeRange()">All</button>
        </div>
    </div> -->

    <pgz-multi-line [data]="multiLineChartData"></pgz-multi-line>
</section>
