<div class="spending-wrapper">
    <div class="spending">
      <div class="spending--info">
        <pgz-icon class="spending--icon" [name]="spending.category.icon"></pgz-icon>
        <p class="text spending--title">{{ spending.category.title }}</p>
        <p class="text spending--title">{{ spending.comment }}</p>
      </div>
      <div class="spending--info">
        <p class="text spending--cost">{{ spending.cost }}$</p>
        
        <pgz-icon class="spending--icon" [name]="'custom_edit'" (click)="onEdit()"></pgz-icon>
        <mat-icon style="color: green" (click)="onDelete()">delete</mat-icon>
      </div>
    </div>
    <div class="line"></div>
</div>
