:host {
  display: block;
}

.spending-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.spending {
  margin: 10px;
  display: flex;
  justify-content: space-between;

  &--category {
    display: flex;
  }

  &--info {
    margin-left: auto;
  }

  &--icon {
    border-radius: 50%;
    padding: 4px;
  }

  &--title {
    font-size: 14px;
  }

  &--cost {
    font-size: 16px;
  }

  &--actions {
    margin-left: 16px;
    font-size: 20px;
  }
}

.line {
  border-bottom: 1px solid #e8e8e8;
  align-self: center;
  width: 92%;
}

.text {
  margin: 0px 10px 0px 10px;
  align-self: center;
}
