<div class="spending-wrapper">
    <div class="spending">
      <div class="spending--info">
        <pgz-icon class="spending--icon" [name]="spending.category.icon"></pgz-icon>
        <p class="text spending--title">{{ spending.category.title }}</p>
        <p class="text spending--title">{{ spending.comment }}</p>
      </div>
      <div class="spending--info">
        <p class="text spending--cost">{{ spending.cost }}$</p>
        <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu>
          <mat-icon (click)="onEdit()">edit</mat-icon>
          <mat-icon (click)="onDelete()">delete</mat-icon>
        </mat-menu>
      </div>
    </div>
    <div class="line"></div>
</div>
