:host {
  display: block;
}



.spending-statistic-list {
  height: 100%;

  &--filters {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
}

.spending-statistic h2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.chart-container {
  &--btn {

  }

  &--type {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &--chart {
    padding: 0 5px;
    // width: 300px;
  }
}


