<main class="spending-statistic">

  @if(currCategory) {
    <pgz-prev-route></pgz-prev-route>
    <h2>{{currCategory.title}} statistic</h2>
  }@else {
    <h2>Statistic</h2>
  }
  
  <div class="chart-container--chart">

    <!-- <div class="chart-container--type">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-select [(ngModel)]="chartTypeCtrl">
          <mat-option value="pie">Pie chart</mat-option>
          <mat-option value="multiline">Multi line chart</mat-option>
        </mat-select>
      </mat-form-field>
  
      
    </div> -->

    <pgz-toggle-switch [checked]="'multiline'" [unchecked]="'pie'" (buttonValue)="chartTypeChange($event)"></pgz-toggle-switch>
    <pgz-range-controller (isCompareEnabled)="toogleCompare()" (rangeChange)="onRangeChange($event)"></pgz-range-controller>
      
    <div class="chart-container--chart">
      @if(chartTypeCtrl === 'pie') { 
        <div>
          <pgz-pie-chart-container 
            [categoryData]="categoryStatisticForPieChart" 
            [isCompareEnabled]="isCompareEnabled" 
            [compareCategoryData]="getCompareCategoryStatisticForPieChart()"
          ></pgz-pie-chart-container>
        </div>
      }

      @if(chartTypeCtrl === 'multiline') {
        <pgz-multi-line-chart-container 
          [activeCategories]="categoryStatisticForPeriod" 
          [isCompareEnabled]="isCompareEnabled"
          [spendings]="spendingsForMultiLineChart"
          [compareSpendings]="compareSpendingsForMultiLineChart"
          [startRange]="formRange.value.startDate"
          [startCompareRange]="formRange.value.compareStartDate"
        ></pgz-multi-line-chart-container>
      }
    </div>
  </div>

  <section>
    <div class="d-flex justify-content-between">
      <button class="btn" (click)="changeSortBy()">
        @if(isAscSort){
          <pgz-icon [name]="'arrow_drop_up'"></pgz-icon>
        } @else {
          <pgz-icon [name]="'arrow_drop_down'"></pgz-icon>
        }
      </button>

      <button class="btn d-flex" (click)="allCategoriesVisible()">
        All visible
        <pgz-icon [name]="'visibility'"></pgz-icon>
      </button>
    </div>

    @for(data of categoryStatisticForPeriod; let i = $index; track data) {
      <!-- @if(data.value !== 0) { -->
        <pgz-spending-statistic-card 
          [data]="data"
          [compareData]="getCompareDataForCard(data.category.id)"
          [isCompareMode]="isCompareEnabled"
          [startRange]="formRange.value.startDate"
          [startCompareRange]="formRange.value.compareStartDate"
          [isVisible]="isVisibleCategory(data.category)" 
          (clickCard)="onCardClick($event)" 
          (toggleCategory)="toggleCategory($event)">
        </pgz-spending-statistic-card>
      <!-- } -->
    } @empty {
      <p style="text-align: center;">You don't have any spendings</p>
    }
  </section>
</main>
