<main class="scroll-list">
  <button (click)="toggleChart()">{{chartType}}</button>

  @if(chartType === 'pie') {
    <pgz-pie-chart-container [spendings]="filteredSpendings" (categoryStatistic)="getCategoryStatisticData($event)"></pgz-pie-chart-container>
  }

  @if(chartType === 'multiline') {
    <pgz-multi-line-chart-container [spendings]="filteredSpendings" (categoryStatistic)="getCategoryStatisticData($event)"></pgz-multi-line-chart-container>
  }

  @for(data of categoryStatisticForPeriod; track data) {
    <pgz-spending-statistic-card [data]="data" [isVisible]="isVisibleCard(data.category)" (clickCard)="onCardClick($event)" (toggleCategory)="toggleCategory($event)">
    </pgz-spending-statistic-card>
  } @empty {
    <p style="text-align: center;">You don't have any spendings</p>
  }
</main>
