:host {
  display: block;
}
.spend-stat {
  &--date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
  }

  &--btn {
    background: inherit;
    border: none;
  }
}

.mat-disable {
  visibility: hidden;
  width: 0;
  height: 0;
}
