:host {
  display: block;
}

.bread-crumbs {
  margin: 10px;
}

.bread-crumb {
  margin-left: 5px;
  font-size: 18px;
}

.bread-crumb a {
  text-decoration: none;
  color: var(--bs-gray-600);
}

.bread-crumb .active {
  color: var(--bs-success);
}
