<section class="bread-crumbs">
    @if(breadCrumbs.length <= 1) {
        <div [routerLink]="'/spending'">
            <span><mat-icon>keyboard_backspace</mat-icon></span>
            <span>Back</span>
        </div>
    }

    @if(breadCrumbs.length > 1) {
        <div class="d-flex">
            <div class="bread-crumb">
                <a [routerLink]="'/spending'">Global</a>
            </div>
            @for(crumb of breadCrumbs;let idx = $index; track crumb) {
                <div class="bread-crumb">
                    <span> - </span>
                    <a [class.active]="idx === breadCrumbs.length - 1" (click)="navigate(crumb)">{{crumb.label}}</a>
                </div>
            }
        </div>
    }
</section>

